<%= link_to project, class: 'relative block shadow-lg hover:shadow-md transform transition-all duration-100 hover:scale-105 rounded-lg overflow-hidden' do %>
  <% category = Settings.project_categories.select { |cat| cat.name == project.category }.first %>

  <div class="w-full bg-<%= category.color %> h-5"></div>

  <div class="px-5 pt-5 pb-6">
    <div class="text-lg font-medium truncate leading-tight mb-2"><%= project.name %></div>
    
    <div class="text-gray-500 text-sm mb-5 leading-tight overflow-hidden" style="height: 50px;">
      <% if project.short_description.present? %>
        <%= project.short_description %>
      <% else %>
        <%= project.description.truncate 150 %>
      <% end %>
    </div>
  </div>
<% end %>
