<div class="mt-6 sm:mt-5">
  <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <label for="name" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
      <%= t('name') %>
    </label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
      <div class="max-w-lg flex rounded-md shadow-sm">
        <%= f.text_field "name", class: "flex-1 form-input block w-full rounded-none rounded-r-md transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: true %>
      </div>
      <p class="mt-2 text-sm text-gray-500"><%= t('your_full_name') %></p>
    </div>
  </div>

  <div class="mt-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <label for="about" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
      <%= t('about_you') %>
    </label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
      <div class="max-w-lg flex rounded-md shadow-sm">
        <%= f.text_area "about", rows: 3, class: "form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: true %>
      </div>
    </div>
  </div>

  <div class="mt-6 sm:mt-5">
    <div class="sm:border-t sm:border-gray-200 sm:pt-5">
      <fieldset>
        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
          <div>
            <legend class="text-base leading-6 font-medium text-gray-900 sm:text-sm sm:leading-5 sm:text-gray-700">
              <%= t('skills_you_can_help_with') %>
            </legend>
          </div>
          <div class="mt-4 sm:mt-0 sm:col-span-2">
            <div class="max-w-lg">
              <% Settings.volunteer_skills.each do |skill| %>
                <div class="relative flex items-start">
                  <div class="absolute flex items-center h-5">
                  <%= f.check_box :skill_list, { multiple: true, class:  "form-checkbox h-4 w-4 text-primary-600 transition duration-150 ease-in-out"}, skill, nil %>
                  </div>
                  <div class="pl-7 text-sm leading-5">
                    <label for="user_skill_list_<%= skill.downcase.gsub(' & ', '__').gsub(' ', '_') %>" class="font-medium text-gray-700">
                      <%= skill %>
                    </label>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="mt-6 sm:mt-5">
      <div class="sm:border-t sm:border-gray-200 sm:pt-5">
        <fieldset>
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
            <div>
              <legend class="text-base leading-6 font-medium text-gray-900 sm:text-sm sm:leading-5 sm:text-gray-700">
                <%= t('level_of_availability') %>
              </legend>
            </div>
            <div class="mt-4 sm:mt-0 sm:col-span-2">
              <div class="max-w-lg">
                <% Settings.volunteer_availabilities.each do |availability| %>
                  <div class="relative flex items-start">
                    <div class="absolute flex items-center h-5">
                      <%= f.radio_button :level_of_availability, availability, { :multiple => false, class:  "form-radio h-4 w-4 text-primary-600 transition duration-150 ease-in-out"} %>
                    </div>
                    <div class="pl-7 text-sm leading-5">
                      <label class="font-medium text-gray-700">
                        <%= availability %>
                      </label>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </fieldset>
      </div>

  <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <label for="profile_links" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
      <%= t('links_to_places_where_people_can_get_to_know_you_b') %>
    </label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
      <div class="max-w-lg flex rounded-md shadow-sm">
        <%= f.text_area "profile_links", rows: 3, class: "form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: true %>
      </div>
      <p class="mt-2 text-sm text-gray-500"><%= t('for_instance_your_ar_xiv_git_hub_linked_in_twitter') %></p>
    </div>
  </div>

  <div class="mt-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <label for="location" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
      <%= t('your_ballpark_location') %>
    </label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
      <div class="max-w-lg flex rounded-md shadow-sm">
        <%= f.text_field "location", class: "flex-1 form-input block w-full rounded-none rounded-r-md transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: true %>
      </div>
      <p class="mt-2 text-sm text-gray-500"><%= t('city_state_country_ideally_don_t_be_too_specific') %></p>
    </div>
  </div>

  <div class="mt-6 sm:mt-5">
    <div class="sm:border-t sm:border-gray-200 sm:pt-5">
      <fieldset>
        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
          <div>
            <legend class="text-base leading-6 font-medium text-gray-900 sm:text-sm sm:leading-5 sm:text-gray-700">
              <%= t('options') %>
            </legend>
          </div>
          <div class="mt-4 sm:mt-0 sm:col-span-2">
            <div class="max-w-lg">
              <div class="relative flex items-start">
                <div class="absolute flex items-center h-5">
                  <%= f.check_box "visibility", class: "form-checkbox h-4 w-4 text-primary-600 transition duration-150 ease-in-out5" %>
                </div>
                <div class="pl-7 text-sm leading-5">
                  <%= f.label 'visibility', 'Visibility', class: 'font-medium text-gray-700' %>
                  <p class="text-gray-500"><%= t('i_want_my_information_including_my_email_to_be_vis') %></p>
                </div>
              </div>
              <br />
              <div class="relative flex items-start">
                <div class="absolute flex items-center h-5">
                  <%= f.check_box "pair_with_projects", class: "form-checkbox h-4 w-4 text-primary-600 transition duration-150 ease-in-out5" %>
                </div>
                <div class="pl-7 text-sm leading-5">
                  <%= f.label 'pair_with_projects', 'Pair me with projects', class: 'font-medium text-gray-700' %>
                  <p class="text-gray-500"><%= t('i_want_to_be_paired_with_relevant_projects_based_o') %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>

<div class="mt-8 border-t border-gray-200 pt-8 sm:mt-5 sm:pt-10">
  <div>
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      <%= t('or_change_your_email_password') %>
    </h3>
  </div>

  <div class="mt-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <label for="email" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
      <%= t('email_address') %>
    </label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
      <div class="max-w-lg flex rounded-md shadow-sm">
        <%= f.text_field "email", class: "flex-1 form-input block w-full rounded-none rounded-r-md transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: true %>
      </div>
    </div>
  </div>

  <div class="mt-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <label for="new_password" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
      <%= t('password') %>
    </label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
      <div class="max-w-lg flex rounded-md shadow-sm">
        <%= f.password_field :password, autocomplete: "new-password", class: "flex-1 form-input block w-full rounded-none rounded-r-md transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
      </div>

      <p class="mt-2 text-sm text-gray-500"><%= t('leave_blank_if_you_don_t_want_to_change_it') %></p>
    </div>
  </div>

  <div class="mt-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <label for="password_confirmation" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
      <%= t('password_confirmation') %>
    </label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
      <div class="max-w-lg flex rounded-md shadow-sm">
        <%= f.password_field :password_confirmation, autocomplete: "password-confirmation", class: "flex-1 form-input block w-full rounded-none rounded-r-md transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
      </div>
    </div>
  </div>

  <div class="mt-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <label for="current_password" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
      <%= t('old_password') %>
    </label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
      <div class="max-w-lg flex rounded-md shadow-sm">
        <%= f.password_field :current_password, autocomplete: "current-password", class: "flex-1 form-input block w-full rounded-none rounded-r-md transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
      </div>

      <p class="mt-2 text-sm text-gray-500"><%= t('only_if_you_are_changing_your_password') %></p>
    </div>
  </div>
</div>
