<div class="relative transform shadow-users transition-all duration-100 hover:scale-105 flex flex-col justify-between bg-white">
  <div class="flex-1 flex flex-col justify-between p-5">
    <div class="flex-col">
      <div class="w-full flex justify-between mb-2">
        <div class="text-indigo-500 text-lg font-medium">
          <% if user.name.present? %>
            <%= link_to user.name, profile_path(user) %>
          <% else %>
            <%= link_to user.email, profile_path(user) %>
          <% end %>
        </div>
        <% if user.level_of_availability %>
          <div class="text-purple-600 text-sm fill-current leading-loose">
            <%= inline_svg_pack_tag 'media/svgs/calendar.svg', class: 'h-4 inline' %><%= user.level_of_availability %>
          </div>
          <% end %>
      </div>
      <div class="w-fullmb-2">
        <% if user.skills.present? %>
          <div class="relative w-full h-6 mb-4">
            <span class="scroll-gradient-right inline-block w-4 h-6 absolute right-0 z-50"></span>
            <div class="w-full overflow-x-auto scrolling-touch scrollbar-hidden">
              <div class="flex flex-row flex-no-wrap flex-shrink-0 flex-shrink-0 space-x-right-2">
                <%= skill_badges user.skills.collect { |s| s.name }, limit: 3, color: 'blue', model: 'projects', filter_by: 'skills' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="w-full mb-3">
        <%= simple_format user.about.truncate(130), class: 'text-sm leading-tight text-gray-500' %>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="w-full flex justify-between text-gray-500 fill-current text-xs">
        <div>
          <% if user.location.present? %>
            <%= inline_svg_pack_tag 'media/svgs/location-pin.svg', class: 'inline h-4 text-gray-500 fill-current' %><%= user.location %>
          <% end %>
        </div>
        <div><%= inline_svg_pack_tag 'media/svgs/time-ago.svg', class: 'inline h-4 text-gray-500 fill-current' %><%= time_ago_in_words user.created_at %> ago</div>
      </div>
    </div>
  </div>
  <div class="px-5 py-2 bg-indigo-100 flex justify-between text-sm text-indigo-500">
    <div class="flex">
      <%= mail_to user.email, encode: 'javascript', class: 'bg-white px-2 py-1 flex-1 js-remove-before-navigation' do %>
        <%= inline_svg_pack_tag 'media/svgs/mail.svg', class: 'inline-block h-4 text-indigo-500 fill-current -mr-1' %>Contact
      <% end %>
    </div>
    <%= link_to profile_path(user), class: 'block bg-white px-2 py-1 group' do %>
      More <%= inline_svg_pack_tag 'media/svgs/chevron-right.svg', class: 'h-4 -mx-1 inline-block fill-current' %>
    <% end %>
  </div>
</div>
