<li class="border-t border-gray-200">
  <div class="block hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out">
    <div class="flex px-4 py-4 sm:px-6">
      <div class="w-1/2">
        <div class="flex items-center justify-between">
          <div class="text-sm leading-5 font-medium text-indigo-600 truncate">
            <%= link_to user.name, profile_path(user) %> / <%= mail_to user.email, nil, encode: 'javascript' %>
          </div>
        </div>
        <div class="mt-2 sm:flex sm:justify-between">
          <div class="text-sm leading-5 text-gray-500">
            <%= simple_format user.about, class: 'mb-2' %>
          </div>
        </div>
        <% if user.skills.present? %>
          <div class="flex content-center flex-wrap mt-2 space-x-right-2">
            <%= skill_badges user.skills.collect { |s| s.name }, limit: 3, color: 'blue', model: 'projects', filter_by: 'skills' %>
          </div>
        <% end %>
        <div class="mt-2 sm:flex sm:justify-between">
          <div class="sm:flex">
            <div class="mt-2 flex items-center text-sm leading-5 text-gray-500 sm:mt-0">
              <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"/>
              </svg>
              <%= user.location.present? ? user.location : 'Remote' %>
            </div>
          </div>
          <div class="mt-2 flex items-center text-xs leading-5 text-gray-500 sm:mt-0">
            <span>
              <% if volunteer %>
                applied <time><%= distance_of_time_in_words_to_now volunteer.created_at %> ago</time>
              <% else %>
                created <time><%= distance_of_time_in_words_to_now user.created_at %> ago</time>
              <% end %>
            </span>
          </div>
        </div>
      </div>
      <% if volunteer && (current_user == @project.user || current_user.is_admin?) %>
        <div class="w-1/2">
          <div class="flex justify-end text-sm">
            <%= form_for(volunteer, url: update_volunteer_project_path(volunteer.project), namespace: "id_#{volunteer.id}", remote: true, html: {class: "js-volunteer-update-form bg-white shadow-md rounded text-right p-4 mb-4"}) do |f| %>
              <% VolunteerAbility.permissions.values.each { |p| volunteer.volunteer_abilities.find_or_create_by(permission: p) } %>
              <%= f.fields_for :volunteer_abilities do |ff| %>
                <p>
                  <%= ff.hidden_field :permission %>
                  <%= ff.label :enabled, ff.object.permission.titleize %>
                  <%= ff.check_box :enabled, { class:  "js-volunteer-ability-checkbox form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out" } %>
                </p>
              <% end %>
              <%= f.hidden_field :id %>
              <button type="submit" class="hidden">
                Save
              </button>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</li>
