<div class="relative transform shadow-users transition-all duration-100 hover:scale-105 flex flex-col justify-between bg-white">
  <div class="flex-1 flex flex-col justify-between p-5">
    <div class="flex-col">
      <div class="w-full flex justify-between mb-2">
        <div class="text-indigo-500 text-lg font-medium">
          <% if user.name.present? %>
            <%= link_to user.name, profile_path(user) %>
          <% else %>
            <%= link_to user.email, profile_path(user) %>
          <% end %>
        </div>
      </div>
      <div class="w-fullmb-2">
        <% if user.skills.present? %>
          <div class="relative w-full h-6 mb-4">
            <span class="scroll-gradient-right inline-block w-4 h-6 absolute right-0 z-50"></span>
            <div class="w-full overflow-x-auto scrolling-touch scrollbar-hidden">
              <div class="flex flex-row flex-no-wrap flex-shrink-0 flex-shrink-0 space-x-right-2">
                <%= skill_badges user.skills.collect { |s| s.name }, limit: 3, color: 'blue', model: 'projects', filter_by: 'skills' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="w-full mb-3">
        <%= simple_format user.about.truncate(130), class: 'text-sm leading-tight text-gray-500' %>
      </div>
    </div>
  </div>

  <div class="px-5 pt-5 bg-indigo-100 flex justify-between text-sm text-indigo-500 user-card">
    <div class="flex flex-col">
      <div class="w-full flex flex-wrap justify-center text-gray-500 fill-current text-xs">
        <% user.future_office_hours.each do |oh| %>
          <%= link_to 'javascript:void(0)' do %>
            <span class="inline-flex mb-3 px-3">
              <button type="button" class="inline-flex items-center px-2.5 py-1.5 <%= office_hour_button_color oh %> transition ease-in-out duration-150 oh-action" x-id='<%= oh.id %>' x-is-owner='<%= oh.user == current_user %>' x-when='<%= oh.start_at.strftime('%b %e, %l:%M %p') %>' x-volunteers='<%= (current_user == oh.user ? oh.applications_with_projects_json : {}.to_json) %>' x-participant='<%= (current_user == oh.user ? oh.participant_json : {}.to_json) %>'  x-oh-owner='<%= oh.user.name %>' x-oh-inactive='<%= office_hour_slot_inactive(oh).to_s %>' x-can-apply='<%= oh_can_apply().to_s %>'>
                <%= oh.start_at.strftime('%b %e, %l:%M %p') %>

                <% if current_user && (current_user == user || current_user.is_admin?) %>
                  <span class="inline-flex ml-2  items-center px-2.5 py-0.5 rounded-full text-xs font-medium leading-4 <%= oh_badge_color oh %>%">
                    <%= oh.applications.count %>
                  </span>
                <% end %>
              </button>
            </span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
