<%= link_to projects_path, class: "#{all_projects_nav_link_class(variant)}" do %>
  <%= t('find_projects') %>
<% end %>

<% if feature_enabled?('volunteer_directory') %>
  <%= link_to volunteers_path, class: "#{volunteers_nav_link_class(variant)}" do %>
    <%= t('volunteers') %>
  <% end %>
<% end %>

<% if feature_enabled?('resources') %>
  <%= link_to offers_path, class: "#{offers_nav_link_class(variant)}" do %>
    <%= t('resources') %>
  <% end %>
<% end %>

<% if current_user %>
  <div class="relative group flex">
    <%= link_to 'javascript:void(0);', class: "#{nav_link_inactive_class(variant)} hidden md:flex" do %>
      <%= t('account') %> <%= inline_svg_pack_tag 'media/svgs/chevron-right.svg', class: 'fill-current text-gray-600 transform rotate-90' %>
    <% end %>

    <div class="md:hidden md:group-hover:flex w-full md:flex-col md:absolute md:z-30 md:nset-auto md:left-0 md:bg-white md:shadow-lg md:p-4 md:w-48 md:text-sm md:space-y-2 md:mt-14">
      <div>
        <%= link_to volunteered_projects_path, class: "#{volunteered_projects_nav_link_class(variant)}" do %>
          <%= t('volunteered_projects') %>
        <% end %>
      </div>
      <div>
        <%= link_to own_projects_path, class: "#{own_projects_nav_link_class(variant)}" do %>
          <%= t('your_projects') %>
        <% end %>
      </div>
      <div>
        <%= link_to edit_user_registration_path, class: "#{profile_nav_link_class(variant)}" do %>
          <%= t('your_profile') %>
        <% end %>
      </div>
      <div>
        <%= link_to destroy_user_session_path, method: :delete, class: "#{logout_nav_link_class(variant)}" do %>
          <%= t('log_out') %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <%= link_to new_user_registration_path, class: "#{sign_up_nav_link_class(variant)}" do %>
    <%= t('sign_up') %>
  <% end %>
  <%= link_to new_user_session_path, class: "#{login_nav_link_class(variant)}" do %>
    <%= t('log_in') %>
  <% end %>
<% end %>

<div class="self-center ml-4 mt-1">
  <%= link_to new_project_path do %>
    <button type="button" class="relative inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-primary-600 hover:bg-primary-500 focus:outline-none focus:shadow-outline-primary focus:border-primary-700 active:bg-primary-700 flex-shrink-0 flex-grow-0">
      <%= t('create_project') %>
    </button>
  <% end %>
</div>
