<% if is_link %>
  <a href="<%= url %>" class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium leading-5 mb-2 mr-2 <%= classes %>">
    <svg class="-ml-0.5 mr-1.5 h-2 w-2 text-indigo-400" fill="currentColor" viewBox="0 0 8 8">
      <circle cx="4" cy="4" r="3" />
    </svg>
    <%= label %>
  </a>
<% else %>
  <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium leading-5 mb-2 mr-2 <%= classes %>">
    <svg class="-ml-0.5 mr-1.5 h-2 w-2 text-indigo-400" fill="currentColor" viewBox="0 0 8 8">
      <circle cx="4" cy="4" r="3" />
    </svg>
    <%= label %>
  </span>
<% end %>