<div class="relative rounded group overflow-hidden <%= 'border-4 border-indigo-600' if image.id == @project.cover_photo_id %>">
  <% if image.representable? %>
    <%= link_to image, 'data-fancybox': 'hwc-gallery' do %>
      <%= image_tag image.variant(resize_to_limit: [240, 240]) %>
    <% end %>
  <% else %>
    <%= link_to inline_svg_pack_tag('media/svgs/question-mark-circle.svg'), image, class: 'h-full fill-current flex justify-center items-center' %>
  <% end %>
  <% if @project.present? and @project.user == current_user %>
    <%= link_to inline_svg_pack_tag('media/svgs/color-swatch.svg'), set_cover_photo_project_image_path(@project, image), method: :post, class: 'absolute inset-auto top-0 left-0 ml-4 mt-4 z-20 fill-current hidden group-hover:block bg-indigo-50 text-indigo-800 border rounded hover:background-indigo-200', title: 'Set main image' %>
    <%= link_to inline_svg_pack_tag('media/svgs/trash.svg'), project_image_path(@project, image), method: :delete, remote: true, class: 'absolute inset-auto top-0 right-0 mr-4 mt-4 z-20 fill-current hidden group-hover:block bg-indigo-50 text-indigo-800 border rounded hover:background-indigo-200', title: 'Remove image' %>
  <% end %>
</div>


