<div class="flex flex-col justify-center sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-lg">
    <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
      About Us
    </h2>
    <p class="mt-8 text-center text-sm leading-5 text-gray-600 max-w">
    We aim to connect volunteers with COVID-19 related projects in New Haven, 
    serving as a centralized resource for volunteer opportunities. <b><mark>If you 
    are interested in more COVID-19 volunteer opportunities 
      beyond New Haven, please visit 
      <%= link_to 'HelpWithCovid.com', 'https://helpwithcovid.com/', target: '_blank', class: 'text-indigo-500' %>!</mark></b>
    </p>
    <p class="mt-4 text-center text-sm leading-5 text-gray-600 max-w">
    We are run by a team of New Haven residents.
    </p>
  </div>

  <div class="flex flex-col mt-6">
    <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
      <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
        <table class="min-w-full">
          <tbody>
            <% striped_classes_cycle = [ "bg-white", "bg-gray-50" ] %>

            <tr class="<%= cycle striped_classes_cycle %>">
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
               HelpWithCovid.com Core Team
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                Development of template for this site
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
               <a class="text-indigo-500" href="https://helpwithcovid.com/about">helpwithcovid.com/about/</a>
              </td>
            </tr>
            <tr class="<%= cycle striped_classes_cycle %>">
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                Tiffany Chan
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                Project Coordinator
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                <%= mail_to 'tiffany.chan@yale.edu', nil, target: '_blank', class: 'text-indigo-500' %>
              </td>
            </tr>
            <tr class="<%= cycle striped_classes_cycle %>">
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                Mark Santolucito
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                Lead Developer
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
              <%= mail_to 'mark.santolucito@yale.edu', nil, target: '_blank', class: 'text-indigo-500' %>
              </td>
            </tr>
            <tr class="<%= cycle striped_classes_cycle %>">
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                Sarim Abbas
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                Developer
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
              <%= mail_to 'sarim.abbas@yale.edu', nil, target: '_blank', class: 'text-indigo-500' %>
              </td>
            </tr>
            <tr class="<%= cycle striped_classes_cycle %>">
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                Alex Chen
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                Developer
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
              <%= mail_to 'alex.chen.ac@yale.edu', nil, target: '_blank', class: 'text-indigo-500' %>
              </td>
            </tr>
            <tr class="<%= cycle striped_classes_cycle %>">
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                Ben Ditchfield
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                Developer
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
              <%= mail_to 'ben.ditchfield@yale.edu', nil, target: '_blank', class: 'text-indigo-500' %>
              </td>
            </tr>
            <tr class="<%= cycle striped_classes_cycle %>">
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                Wolf Honor&eacute
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                Developer
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
              <%= mail_to 'wolf.honore@yale.edu', nil, target: '_blank', class: 'text-indigo-500' %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="sm:mx-auto sm:w-full sm:max-w-lg">    
    <h2 class="mt-8 text-center text-3xl leading-9 font-extrabold text-gray-900">
      Thank you to all volunteers!
    </h2>
  </div>
</div>
