<div class="flex flex-col justify-center sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-lg">
    <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
      About HelpWithCovid.com
    </h2>
    <p class="mt-8 text-center text-sm leading-5 text-gray-600 max-w">
      Help With Covid is a clearing house for COVID-19 related projects and volunteers looking to help out.<br/><br/>
      It is run by a team from across the world that is passionate about helping out with the current crisis. Find us on <%= link_to 'Discord', 'https://discord.gg/875AhXS', target: '_blank', class: 'text-indigo-500' %> on #hwc-com-development.
    </p>
  </div>

  <div class="flex flex-col mt-6">
    <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
      <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
        <table class="min-w-full">
          <tbody>
            <% striped_classes_cycle = [ "bg-white", "bg-gray-50" ] %>

            <tr class="<%= cycle striped_classes_cycle %>">
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                Tinnei Pang
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                Operations
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                <%= link_to "Twitter", "https://twitter.com/tinnnei", target: "_blank", class: "text-indigo-500" %>
                &nbsp;/&nbsp;
                <%= link_to "LinkedIn", "https://www.linkedin.com/in/tinneipang/", target: "_blank", class: "text-indigo-500" %>
              </td>
            </tr>
            <tr class="<%= cycle striped_classes_cycle %>">
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                Misa Beach
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                Operations
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                <%= link_to "LinkedIn", "https://www.linkedin.com/in/misajbeach/", target: "_blank", class: "text-indigo-500" %>
              </td>
            </tr>
            <tr class="<%= cycle striped_classes_cycle %>">
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                Jamie Wilkinson
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                Product
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                <%= link_to "Twitter", "https://twitter.com/jamiew", target: "_blank", class: "text-indigo-500" %>
                &nbsp;/&nbsp;
                <%= link_to "LinkedIn", "https://www.linkedin.com/in/jamiedubs/", target: "_blank", class: "text-indigo-500" %>
              </td>
            </tr>
            <tr class="<%= cycle striped_classes_cycle %>">
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                Casey Pugh
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                Product
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                <%= link_to "Twitter", "https://twitter.com/caseypugh", target: "_blank", class: "text-indigo-500" %>
                &nbsp;/&nbsp;
                <%= link_to "LinkedIn", "https://www.linkedin.com/in/caseypugh/", target: "_blank", class: "text-indigo-500" %>
              </td>
            </tr>
            <tr class="<%= cycle striped_classes_cycle %>">
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                Jamie Murphey
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                UX
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                <%= link_to "LinkedIn", "https://www.linkedin.com/in/jamiemurphey/", target: "_blank", class: "text-indigo-500" %>
              </td>
            </tr>
            <tr class="<%= cycle striped_classes_cycle %>">
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                Cathy Liu
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                UX
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                <%= link_to "LinkedIn", "https://www.linkedin.com/in/cathyliu94/", target: "_blank", class: "text-indigo-500" %>
              </td>
            </tr>
            <tr class="<%= cycle striped_classes_cycle %>">
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                Adrian Marin
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                Development
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                <%= link_to "Twitter", "https://twitter.com/adrianthedev", target: "_blank", class: "text-indigo-500" %>
              </td>
            </tr>
            <tr class="<%= cycle striped_classes_cycle %>">
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                Kinjal Poonatar
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                Account management
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                <%= link_to "LinkedIn", "https://www.linkedin.com/in/kinjalvalue/", target: "_blank", class: "text-indigo-500" %>
              </td>
            </tr>
            <tr class="<%= cycle striped_classes_cycle %>">
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                Pim de Witte
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                Advice and guidance
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                <%= link_to "Twitter", "https://twitter.com/PimDeWitte", target: "_blank", class: "text-indigo-500" %>
                &nbsp;/&nbsp;
                <%= link_to "LinkedIn", "https://www.linkedin.com/in/pimdw/", target: "_blank", class: "text-indigo-500" %>
              </td>
            </tr>
            <tr class="<%= cycle striped_classes_cycle %>">
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                Radu Spineanu
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                Coffee getter
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                <%= link_to "Twitter", "https://twitter.com/rspineanu", target: "_blank", class: "text-indigo-500" %>
              </td>
            </tr>
            <tr class="<%= cycle striped_classes_cycle %>">
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                Sam Altman
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                Big picture
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                <%= link_to "Twitter", "https://twitter.com/sama", target: "_blank", class: "text-indigo-500" %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="sm:mx-auto sm:w-full sm:max-w-lg">
    <p class="mt-8 text-center text-sm leading-5 text-gray-600 max-w">
      Started based on a discussion between Dustin Moskovitz &amp; Sam Altman.
    </p>
    
    <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
      Thank you to all volunteers!
    </h2>
  </div>
</div>