<div class="flex flex-col justify-center sm:px-6 lg:px-8">
  <div class="mx-auto w-full max-w-3xl">
    <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
      About Us
    </h2>
    <p class="mt-8 text-center text-sm leading-5 text-gray-600 max-w">
      Launched in March 2020 by a group of <%= CITY_NAME %> residents in response 
      to local nonprofits’ increased need for volunteers as they build up capacity 
      to support the community during COVID-19 and the ongoing economic crisis, 
      New Haven Help With COVID is a partnership platform where nonprofits can 
      efficiently recruit volunteers in the Greater New Haven area for in-person 
      <u>and</u> remote opportunities. 
    </p>
    <p class="mt-4 text-center text-sm leading-5 text-gray-600 max-w">
      500+ volunteers with various skills from mask-making and grocery deliveries 
      to social media management and computer programming skills have signed up, 
      and 20+ nonprofits big and small have successfully found their volunteers 
      here. 
    </p>
    <p class="mt-4 text-center text-sm leading-5 text-gray-600 max-w">
      If you are a <%= CITY_NAME %> nonprofit interested in learning more about 
      how our platform can best support you, contact us at 
      <%= mail_to 'newhavenpandemic@gmail.com', nil, target: '_blank', class: 'text-indigo-500' %>. 
      We send out weekly newsletters to our volunteers about the latest opportunities, 
      and our team is happy to provide custom support for your organization—from 
      posting opportunities and collecting applications to targeted recruiting. 
    </p>
    <p class="mt-4 text-center text-sm leading-5 text-gray-600 max-w">
      We believe good tools should be shared. If you are currently outside of 
      <%= CITY_NAME %> and think that your local community could use a partnership 
      platform like ours, reach out to us at 
      <%= mail_to 'newhavenpandemic@gmail.com', nil, target: '_blank', class: 'text-indigo-500' %>. 
      We are happy to discuss about sharing code and best practices. 
    </p>
    <p class="mt-4 mb-4 text-center text-sm leading-5 text-gray-600 max-w">
      Credits to 
      <%= link_to 'HelpWithCovid.com', 'https://helpwithcovid.com/', target: '_blank', class: 'text-indigo-500' %> 
      for the general template for this website. 
    </p>
  </div>

  <div class="flex flex-col mt-8">
    <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
      <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
        <table class="min-w-full">
          <tbody>
            <% striped_classes_cycle = [ "bg-white", "bg-gray-50" ] %>

            <tr class="<%= cycle striped_classes_cycle %>">
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                Tiffany Chan
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                Team Lead
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                <%= mail_to 'tiffany.chan@yale.edu', nil, target: '_blank', class: 'text-indigo-500' %>
              </td>
            </tr>
            <tr class="<%= cycle striped_classes_cycle %>">
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                Devin Osborne
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                Community Partnership Deputy
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                <%= mail_to 'devin.osborne@yale.edu', nil, target: '_blank', class: 'text-indigo-500' %>
              </td>
            </tr>
            <tr class="<%= cycle striped_classes_cycle %>">
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center bg-indigo-500">
                  
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-white text-center bg-indigo-500">
                Web Development Unit
              </td>            
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center bg-indigo-500">
                
              </td>
            </tr>
            <tr class="<%= cycle striped_classes_cycle %>">
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                Mark Santolucito
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                Lead Developer
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
              <%= mail_to 'mark.santolucito@yale.edu', nil, target: '_blank', class: 'text-indigo-500' %>
              </td>
            </tr>
            <tr class="<%= cycle striped_classes_cycle %>">
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                Sarim Abbas
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                Developer
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
              <%= mail_to 'sarim.abbas@yale.edu', nil, target: '_blank', class: 'text-indigo-500' %>
              </td>
            </tr>
            <tr class="<%= cycle striped_classes_cycle %>">
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                Alex Chen
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                Developer
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
              <%= mail_to 'alex.chen.ac@yale.edu', nil, target: '_blank', class: 'text-indigo-500' %>
              </td>
            </tr>
            <tr class="<%= cycle striped_classes_cycle %>">
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
               Joyce Duan 
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                Developer
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
              <%= mail_to 'joyce.duan@yale.edu', nil, target: '_blank', class: 'text-indigo-500' %>
              </td>
            </tr>
            <tr class="<%= cycle striped_classes_cycle %>">
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                Wolf Honor&eacute
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                Developer
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
              <%= mail_to 'wolf.honore@yale.edu', nil, target: '_blank', class: 'text-indigo-500' %>
              </td>
            </tr>
            <tr class="<%= cycle striped_classes_cycle %>">
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center bg-indigo-500">
                  
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-white text-center bg-indigo-500">
                Communications Unit
              </td>            
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center bg-indigo-500">
                
              </td>
            </tr>
            <tr class="<%= cycle striped_classes_cycle %>">
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                Jill Capotosto
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                Lead Communications Officer
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
              <%= mail_to 'jill.capotosto@yale.edu', nil, target: '_blank', class: 'text-indigo-500' %>
              </td>
            </tr>
            <tr class="<%= cycle striped_classes_cycle %>">
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                Eda Uzunlar
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                Deputy Communications Officer
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
              <%= mail_to 'eda.uzunlar@yale.edu', nil, target: '_blank', class: 'text-indigo-500' %>
              </td>
            </tr>
            <tr class="<%= cycle striped_classes_cycle %>">
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center bg-indigo-500">
                  
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-white text-center bg-indigo-500">
                Liaison Unit
              </td>            
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center bg-indigo-500">
                
              </td>
            </tr>
            <tr class="<%= cycle striped_classes_cycle %>">
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                Kathleen Keefe
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                Liaison Officer
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
              <%= mail_to 'kathleen.keefe@yale.edu', nil, target: '_blank', class: 'text-indigo-500' %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="sm:mx-auto sm:w-full sm:max-w-lg">    
    <h2 class="mt-8 text-center text-3xl leading-9 font-extrabold text-gray-900">
      Thank you to all volunteers!
    </h2>
  </div>
</div>
