<!-- Hero -->
<div class="bg-white -mt-10 pt-24 ">
  <div class="container text-center mb-24">
    <h1 class="text-2xl sm:text-4xl font-bold tracking-tight leading-tight"><%= @home_header %></h1>
    <h2 class="sm:text-2xl tracking-tight leading-tight mt-2"><%= @home_sub_header %></h2>

    <div class="relative w-64 mx-auto">
      <%= form_with url: projects_path, local: true, method: :get, html: {'x-ref': 'searchForm'} do |form| %>
        <%= form.text_field :query, placeholder: "Search", value: params[:query], class: "border border-black-100 p-2 pr-9 mt-4 rounded-full w-full text-center border-black-400 text-black-600 outline-none focus:border-black-600", required: true %>
        <button class="absolute inset-auto right-0 p-2 rounded-full cursor-pointer border-none shadow-none text-sm bg-transparent hover:bg-gray-100 transition duration-75" style="margin-top: 19px; margin-right: 5px" @click="$refs.searchForm.submit()">
          <%= inline_svg_pack_tag 'media/svgs/magnifier.svg' %>
        </button>
      <% end %>
    </div>
    <div class="text-primary-700 mt-4">
      We are <%= number_with_delimiter round_number_to_closest(@project_count, 50) %>+ projects
      and <%= number_with_delimiter round_number_to_closest(@volunteer_count, 1001) %>+ volunteers strong.
    </div>
  </div>
  </div>
</div>
  <!-- Featured projects -->
  <div class="relative container z-10 pb-4">
    <%= render partial: 'partials/featured-projects', locals: {projects: @featured_projects, category: nil} %>
  </div>
</div>

<!-- Project categories -->
<div class="relative featured-categories bg-primary-600 color-white pt-32 mb-16 sm:-mt-12 xl:-mt-24">
  <div class="container z-10 grid grid-cols-1 sm:grid-cols-2 gap-12 sm:gap-4 md:gap-12 lg:gap-24 xl:gap-48 pb-24 sm:py-20 px-12 sm:px-0 lg:px-12 xl:px-24">
    <%= link_to projects_path, class: 'relative z-10 text-white text-center group h-full flex flex-col justify-between' do %>
      <div class="rounded-full bg-white fill-current text-primary-600 w-24 h-24 flex justify-center items-center mx-auto my-4">
        <%= inline_svg_pack_tag "media/svgs/for-volunteers.svg", class: 'text-primary-600' %>
      </div>
      <div class="font-bold text-lg mb-4">For Volunteers</div>
      <div class="mb-4 leading-tight">Support our community by volunteering for projects with local organizations.</div>
      <div>See all <%= @project_count_total %> projects <%= inline_svg_pack_tag 'media/svgs/chevron-right.svg', class: 'inline-block fill-current transform transition-transform duration-100 group-hover:translate-x-1' %></div>
    <% end %>
    <%= link_to new_project_path, class: 'relative z-10 text-white text-center group h-full flex flex-col justify-between' do %>
      <div class="rounded-full bg-white fill-current text-primary-600 w-24 h-24 flex justify-center items-center mx-auto my-4">
        <%= inline_svg_pack_tag "media/svgs/for-organizations.svg", class: 'text-primary-600' %>
      </div>
      <div class="font-bold text-lg mb-4">For Organizations</div>
      <div class="mb-4 leading-tight">Find the student volunteers you need by posting your on-site or remote project.</div>
      <div>Create Volunteer Position <%= inline_svg_pack_tag 'media/svgs/chevron-right.svg', class: 'inline-block fill-current transform transition-transform duration-100 group-hover:translate-x-1' %></div>
    <% end %>
  </div>
</div>

<!-- Project categories -->
<div class="container">
  <% cache @project_categories do %>
    <%= render partial: 'project-category', collection: @project_categories, as: :category %>
  <% end %>
</div>

