<!-- Hero -->
<div class="bg-white -mt-10 pt-24 ">
  <div class="container mb-4 text-center mb-24">
    <h1 class="text-2xl sm:text-4xl font-bold tracking-tight leading-tight">Volunteer for COVID-19 projects</h1>
    <h2 class="sm:text-2xl tracking-tight leading-tight mt-2">We help people find the resources they need.</h2>

    <div class="relative w-64 mx-auto">
      <%= form_with url: projects_path, local: true, method: :get, html: {'x-ref': 'searchForm'} do |form| %>
        <%= form.text_field :query, placeholder: "Search", value: params[:query], class: "border border-indigo-100 p-2 mt-4 rounded-full w-full text-center border-indigo-400 text-indigo-600 outline-none focus:border-indigo-600", required: true %>
        <button class="absolute inset-auto right-0 top-1/2 mr-4 -mt-1 cursor-pointer" @click="$refs.searchForm.submit()">
          <%= inline_svg_pack_tag 'media/svgs/magnifier.svg' %>
        </button>
      <% end %>
    </div>
    <div class="text-indigo-700 mt-4">We are <%= number_with_delimiter @project_count %>+ projects and <%= number_with_delimiter @volunteer_count %>+ volunteers strong.</div>
  </div>

  <!-- Featured projects -->
  <div class="relative container z-10 pb-4">

    <div class="flex mb-4 px-4">
      <div class="w-16 content-center"><%= inline_svg_pack_tag 'media/svgs/featured-projects.svg' %></div>
      <div class="block sm:flex w-full pt-0 sm:pt-1">
        <div class="w-full sm:w-5/6 text-lg sm:text-xl font-bold">
          Featured Projects
        </div>
        <div class="w-full sm:w-1/6 text-left sm:text-right">
          <%= link_to projects_path(highlight: true), class: 'text-indigo-700 font-bold group' do %>
            See all <%= inline_svg_pack_tag 'media/svgs/chevron-right.svg', class: 'inline-block fill-current transform transition-transform duration-100 -translate-x-1 group-hover:translate-x-0' %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="w-full px-4 sm:px-0 space-y-bottom-4 sm:grid grid-cols-2 md:grid-cols-3 sm:gap-6">
      <%= render partial: 'projects/project-card', collection: @featured_projects, as: :project, cached: true %>
    </div>
  </div>
</div>

<!-- Project groups -->
<div class="relative featured-groups bg-indigo-600 color-white pt-32 mb-16 sm:-mt-12 xl:-mt-24">
  <div class="container z-10 grid grid-cols-1 sm:grid-cols-3 gap-12 sm:gap-4 md:gap-12 lg:gap-24 xl:gap-48 pb-24 sm:py-20 px-12 sm:px-0 lg:px-12 xl:px-24">
    <%= render partial: 'featured-group', collection: @project_groups, as: :group %>
  </div>
</div>

<!-- Project groups -->
<div class="container">
  <% cache @project_groups do %>
    <%= render partial: 'project-group', collection: @project_groups, as: :group %>
  <% end %>
</div>


<!-- Upcoming events -->
<div class="bg-gray-100 shadow-inner">
  <div class="container pt-10 pb-8 px-4">
    <div class="text-indigo-600"><%= section_name 'Resources & Events' %></div>
    <%= render partial: 'partials/events' %>
  </div>
</div>
