<div class="mt-12">
  <div class="bg-indigo-100 rounded flex justify-between py-3 px-6 flex flex-col lg:flex-row">
    <div class="flex flex-1 items-center lg:mr-4 mb-4 lg:mb-0">
      <div class="font-bold mr-2">Filter by</div>
      <div class="flex flex-1 flex-col sm:flex-row">
        <div class="flex-1 mb-2 sm:mb-0 sm:mr-4 md:mb-0 w-full sm:w-auto">
          <%= filter_bar_filter 'Project Types', :project_types, ALL_PROJECT_TYPES.map { |o| [o, o] } %>
        </div>
        <div class="flex-1 mb-2 sm:mb-0 sm:mr-4 md:mb-0 w-full sm:w-auto">
          <%= filter_bar_filter 'Skills', :skills, ALL_SKILLS.map { |o| [o, o] } %>
        </div>
        <div class="flex-1 mb-2 sm:mb-0 sm:mr-4 md:mb-0 w-full sm:w-auto">
          <%= filter_bar_filter 'Countries', :countries, get_country_fields %>
        </div>
        <div class="flex-1 mb-2 sm:mb-0 md:mb-0 w-full sm:w-auto">
          <%= filter_bar_filter 'Status', :status, ALL_PROJECT_STATUS.map { |o| [o, o] }  %>
        </div>
      </div>
    </div>
    <div class="flex items-center mb-4 lg:mb-0">
      <div class="font-bold mr-2">Sort by</div>
      <div class="mb-2 sm:mr-4 md:mr-0 md:mb-0 w-full sm:w-auto">
        <%= sort_drop_down do %>
          <%= sort_drop_down_option(projects_path, 'Sort by') %>
          <%= sort_drop_down_option(projects_path, 'Volunteers Needed', 'volunteers_needed') %>
          <%= sort_drop_down_option(projects_path, 'Latest', 'latest') %>
          <%= sort_drop_down_option(projects_path, 'Earliest', 'earliest') %>
        <% end %>
      </div>
    </div>
  </div>
</div>
