<div>
  <div><%# project.cover_photo %></div>
  <div><%= project.status %></div>
  <div><%= project.name %></div>
  <div><%= project.description %></div>
  <div><%= project.project_type_list %></div>
  <div>
    <div><%= project.number_of_volunteers %></div>
    <div><%#= project.posted_at %></div>
    <div><%= project.location %></div>
  </div>
</div>
