<div class="mt-6 sm:mt-5">
  <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <label for="name" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
      Volunteer Position Name<span class="text-red-500">*</span>
    </label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
      <div class="max-w-lg flex rounded-md shadow-sm">
        <%= f.text_field "name", class: "flex-1 form-input block w-full rounded-none rounded-r-md transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: true %>
      </div>
    </div>
  </div>
  
  <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <label for="organization" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
      Organization<span class="text-red-500">*</span><br/>
    </label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
      <div class="max-w-lg flex rounded-md shadow-sm">
        <%= f.text_field "organization", class: "flex-1 form-input block w-full rounded-none rounded-r-md transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: true %>
      </div>
    </div>
  </div>

  <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <label for="description" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
      Describe your project and the volunteer position.<span class="text-red-500">*</span>
    </label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
      <div class="max-w-lg flex rounded-md shadow-sm">
        <%= f.text_area "description", rows: 3, class: "form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: true %>
      </div>
      <p class="mt-2 text-sm text-gray-500">Write a few sentences about what you are doing and the end goal.</p>
    </div>
  </div>

<!--
  <div class="mt-6 sm:mt-5">
    <div class="sm:border-t sm:border-gray-200 sm:pt-5">
      <fieldset>
        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
          <div>
            <legend class="text-base leading-6 font-medium text-gray-900 sm:text-sm sm:leading-5 sm:text-gray-700">
              Urgency
            </legend>
          </div>
          <div class="mt-4 sm:mt-0 sm:col-span-2">
            <div class="max-w-lg">
              <% ALL_LEVELS_OF_URGENCY.each do |level_of_urgency| %>
                <div class="relative flex items-start">
                  <div class="absolute flex items-center h-5">
                    <%= f.radio_button :level_of_urgency, level_of_urgency, { :multiple => false, class:  "form-radio h-4 w-4 text-indigo-600 transition duration-150 ease-in-out"} %>
                  </div>
                  <div class="pl-7 text-sm leading-5">
                    <label class="font-medium text-gray-700">
                      <%= level_of_urgency %>
                    </label>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div> -->

  <!-- <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <label for="participants" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
      Who is already working on this?
    </label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
      <div class="max-w-lg flex rounded-md shadow-sm">
        <%= f.text_area "participants", rows: 3, class: "form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: true %>
      </div>
      <p class="mt-2 text-sm text-gray-500">Tell volunteers about you and your teammates.</p>
    </div>
  </div> -->

  <!-- <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <label for="progress" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
      How far along are you?
    </label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
      <div class="max-w-lg flex rounded-md shadow-sm">
        <%= f.text_area "progress", rows: 3, class: "form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: true %>
      </div>
      <p class="mt-2 text-sm text-gray-500">Tell volunteers about the progress you've made.</p>
    </div>
  </div> -->

  <!-- <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <label for="docs_and_demo" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
      Do you have a demo or extra documentation?
    </label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
      <div class="max-w-lg flex rounded-md shadow-sm">
        <%= f.text_area "docs_and_demo", rows: 3, class: "form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: true %>
      </div>
      <p class="mt-2 text-sm text-gray-500">Demo can be anything that shows volunteers how the product works. Docs/mockups are also OK.</p>
    </div>
  </div> -->

  <!-- <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <label for="looking_for" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
      What tasks need to get done?
    </label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
      <div class="max-w-lg flex rounded-md shadow-sm">
        <%= f.text_area "looking_for", rows: 3, class: "form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: true %>
      </div>
      <p class="mt-2 text-sm text-gray-500">Tell volunteers how they might help you. Be specific. If it's tech mention the stack.</p>
    </div>
  </div> -->

  <div class="mt-6 sm:mt-5">
    <div class="sm:border-t sm:border-gray-200 sm:pt-5">
      <fieldset>
        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
          <div>
            <legend class="text-base leading-6 font-medium text-gray-900 sm:text-sm sm:leading-5 sm:text-gray-700">
              Skills needed
            </legend>
          </div>
          <div class="mt-4 sm:mt-0 sm:col-span-2">
            <div class="max-w-lg">
              <% ALL_SKILLS.each do |skill| %>
                <div class="relative flex items-start">
                  <div class="absolute flex items-center h-5">
                  <%= f.check_box :skill_list, { multiple: true, class:  "form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out"}, skill, nil %>
                  </div>
                  <div class="pl-7 text-sm leading-5">
                    <label for="project_skill_list_<%= skill.downcase.gsub(' & ', '__').gsub(' ', '_') %>" class="font-medium text-gray-700">
                      <%= skill %>
                    </label>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="mt-6 sm:mt-5">
    <div class="sm:border-t sm:border-gray-200 sm:pt-5">
      <fieldset>
        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
          <div>
            <legend class="text-base leading-6 font-medium text-gray-900 sm:text-sm sm:leading-5 sm:text-gray-700">
              Project type
            </legend>
          </div>
          <div class="mt-4 sm:mt-0 sm:col-span-2">
            <div class="max-w-lg">
              <% ALL_PROJECT_TYPES.each do |project_type| %>
                <div class="relative flex items-start">
                  <div class="absolute flex items-center h-5">
                  <%= f.check_box :project_type_list, { multiple: true, class:  "form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out"}, project_type, nil %>
                  </div>
                  <div class="pl-7 text-sm leading-5">
                    <label for="project_project_type_list_<%= project_type.downcase.gsub('&', '__').gsub(' ', '_') %>" class="font-medium text-gray-700">
                      <%= project_type %>
                    </label>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="mt-6 sm:mt-5">
    <div class="sm:border-t sm:border-gray-200 sm:pt-5">
      <fieldset>
        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
          <div>
            <legend class="text-base leading-6 font-medium text-gray-900 sm:text-sm sm:leading-5 sm:text-gray-700">
              Number of volunteers needed<span class="text-red-500">*</span>
            </legend>
          </div>
          <div class="mt-4 sm:mt-0 sm:col-span-2">
            <div class="max-w-lg">
              <% ALL_NUMBER_OF_VOLUNTEERS.each do |number_of_volunteers| %>
                <div class="relative flex items-start">
                  <div class="absolute flex items-center h-5">
                    <%= f.radio_button :number_of_volunteers, number_of_volunteers, { :multiple => false, class:  "form-radio h-4 w-4 text-indigo-600 transition duration-150 ease-in-out", required: true} %>
                  </div>
                  <div class="pl-7 text-sm leading-5">
                    <label class="font-medium text-gray-700">
                      <%= number_of_volunteers %>
                    </label>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="mt-6 sm:mt-5">
    <div class="sm:border-t sm:border-gray-200 sm:pt-5">
      <fieldset>
        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
          <div>
            <legend class="text-base leading-6 font-medium text-gray-900 sm:text-sm sm:leading-5 sm:text-gray-700">
              Level of Exposure<span class="text-red-500">*</span>
            </legend>
          </div>
          <div class="mt-4 sm:mt-0 sm:col-span-2">
            <div class="max-w-lg">
              <% ALL_LEVELS_OF_EXPOSURE.each do |level_of_exposure| %>
                <div class="relative flex items-start">
                  <div class="absolute flex items-center h-5">
                    <%= f.radio_button :level_of_exposure, level_of_exposure, { :multiple => false, class:  "form-radio h-4 w-4 text-indigo-600 transition duration-150 ease-in-out", required: true} %>
                  </div>
                  <div class="pl-7 text-sm leading-5">
                    <label class="font-medium text-gray-700">
                      <%= level_of_exposure %>
                    </label>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <span class="text-base leading-6 font-medium text-gray-900 sm:text-sm sm:leading-5 sm:text-gray-700">Guidelines</span>
          <ul class="list-disc text-base leading-6 font-medium text-gray-900 sm:text-sm sm:leading-5 sm:text-gray-700">
              <li>
                I: No risk/from home
                <ul class="list-disc pl-8">
                  <li>M1, M2, M3, M4</li>
                  <li>Mask production at home</li>
                  <li>Creating cards/posters/videos of encouragement</li>
                  <li>Call center staffing from home</li>
                  <li>Call center staffing if proper social distancing is guaranteed</li>
                  <li>Check in calls to particularly vulnerable patients and/or to staff who were exposed</li>
                </ul>
              </li>
              <li>II: Low risk and minimal human contact
                <ul class="list-disc pl-8">
                  <li>M1, M2, M3, M4</li>
                </ul>
              </li>
              <li>III: Potential for human contact
                <ul class="list-disc pl-8">
                  <li>M1, M2, M3, M4</li>
                  <li>Child care needs of “mission-critical on-site” staff during COVID-19 outbreak</li>
                  <li>Meal preparation, distributing food, washing dishes</li>
                  <li>Essential transportation needs for family members</li>
                </ul>
              </li>
              <li>IV: Non-clinical but in hospital or office setting
                <ul class="list-disc pl-8">
                  <li>M1, M2, M3, M4</li>
                  <li>Staff support in non-clinical dept of hospital or office practice (e.g. information desk)</li>
                  <li>Duties usually performed by hospital volunteers</li>
                </ul>
              </li>
              <li>V: Clinical and direct human contact
                <ul class="list-disc pl-8">
                  <li>M3, M4</li>
                  <li>Thermal imaging of hospital or office entrants</li>
                  <li>H&P’s, IV’s, blood draws etc</li>
                </ul>
              </li>
          <ul>
        </div>
      </fieldset>
    </div>
  </div>


  <div class="mt-6 sm:mt-5">
    <div class="sm:border-t sm:border-gray-200 sm:pt-5">
        <fieldset>
        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
            <div>
            <legend class="text-base leading-6 font-medium text-gray-900 sm:text-sm sm:leading-5 sm:text-gray-700">
                Background screening required?<span class="text-red-500">*</span>
            </legend>
            </div>
            <div class="mt-4 sm:mt-0 sm:col-span-2">
            <div class="max-w-lg">
                <div class="relative flex items-start">
                    <div class="absolute flex items-center h-5">
                    <%= f.radio_button :background_screening_required, true, { :multiple => false, class:  "form-radio h-4 w-4 text-indigo-600 transition duration-150 ease-in-out", required: true} %>
                    </div>
                    <div class="pl-7 text-sm leading-5">
                    <label class="font-medium text-gray-700">
                        Yes
                    </label>
                    </div>
                </div>
                <div class="relative flex items-start">
                    <div class="absolute flex items-center h-5">
                    <%= f.radio_button :background_screening_required, false, { :multiple => false, class:  "form-radio h-4 w-4 text-indigo-600 transition duration-150 ease-in-out", required: true} %>
                    </div>
                    <div class="pl-7 text-sm leading-5">
                    <label class="font-medium text-gray-700">
                        No
                    </label>
                    </div>
                </div>

            </div>
            </div>
        </div>
        </fieldset>
    </div>
  </div>


  <div class="mt-6 sm:mt-5">
    <div class="sm:border-t sm:border-gray-200 sm:pt-5">
      <fieldset>
        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
          <div>
            <legend class="text-base leading-6 font-medium text-gray-900 sm:text-sm sm:leading-5 sm:text-gray-700">
              Location<span class="text-red-500">*</span>
            </legend>
          </div>
          <div class="mt-4 sm:mt-0 sm:col-span-2">
            <div class="max-w-lg">
              <% ALL_LOCATIONS.each do |location| %>
                <div class="relative flex items-start">
                  <div class="absolute flex items-center h-5">
                    <%= f.radio_button :location, location, { :multiple => false, class:  "form-radio h-4 w-4 text-indigo-600 transition duration-150 ease-in-out", required: true} %>
                  </div>
                  <div class="pl-7 text-sm leading-5">
                    <label class="font-medium text-gray-700">
                      <%= location %>
                    </label>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <label for="start_date" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
      Start Date<br/>
      <span class="text-xs">(optional)</span>
    </label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
      <div class="max-w-lg flex rounded-md shadow-sm">
        <%= f.date_field :start_date, class: "flex-1 form-input block w-full rounded-none rounded-r-md transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
      </div>
    </div>
  </div>

  <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <label for="end_date" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
      End Date<br/>
      <span class="text-xs">(optional)</span>
    </label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
      <div class="max-w-lg flex rounded-md shadow-sm">
        <%= f.date_field :end_date, class: "flex-1 form-input block w-full rounded-none rounded-r-md transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
      </div>
    </div>
  </div>

  <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <label for="compensation" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
      Compensation<br/>
      <span class="text-xs">(optional)</span>
    </label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
      <div class="max-w-lg flex rounded-md shadow-sm">
        <%= f.text_field "compensation", class: "flex-1 form-input block w-full rounded-none rounded-r-md transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
      </div>
    </div>
  </div>

   <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <label for="contact" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
      Best way to get in touch<br/>
      <span class="text-xs">(optional)</span>
    </label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
      <div class="max-w-lg flex rounded-md shadow-sm">
        <%= f.text_field "contact", class: "flex-1 form-input block w-full rounded-none rounded-r-md transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
      </div>
      <p class="mt-2 text-sm text-gray-500">You'll get an email when someone applies, but perhaps there is another way, like email or text.</p>
    </div>
  </div>
</div>
