<div>
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    <%= title %>
  </h3>
  <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
    <%= t('this_information_will_be_displayed_publicly') %>
  </p>
</div>

<div class="mt-6 sm:mt-5">
  <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
    <label for="name" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
      <%= t('name') %>
    </label>
    <div class="mt-1 sm:mt-0 sm:col-span-2">
      <div class="max-w-lg flex rounded-md shadow-sm">
        <%= f.text_field "name", class: "flex-1 form-input block w-full rounded-md transition duration-150 ease-in-out sm:text-sm sm:leading-5", required: true %>
      </div>
    </div>
  </div>
</div>

<div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
  <label for="links" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
    <%= t('business_website') %><br/>
    <span class="text-xs"><%= t('optional') %></span>
  </label>
  <div class="mt-1 sm:mt-0 sm:col-span-2">
    <div class="max-w-lg flex rounded-md shadow-sm">
      <%= f.text_field "links", class: "flex-1 form-input block w-full rounded-md transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
    </div>
  </div>
</div>

<div class="mt-6 sm:mt-5">
  <div class="sm:border-t sm:border-gray-200 sm:pt-5">
    <fieldset>
      <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
        <div>
          <legend class="text-base leading-6 font-medium text-gray-900 sm:text-sm sm:leading-5 sm:text-gray-700">
            <%= t('project_type') %>
            <div>
              <span class="text-xs"><%= t('optional') %></span>
            </div>
          </legend>
        </div>
        <div class="mt-4 sm:mt-0 sm:col-span-2">
          <div class="max-w-lg">
            <% Settings.project_types.each do |project_type| %>
              <div class="relative flex items-start">
                <div class="absolute flex items-center h-5">
                <%= f.check_box :project_type_list, { multiple: true, class:  "form-checkbox h-4 w-4 text-primary-600 transition duration-150 ease-in-out"}, project_type, nil %>
                </div>
                <div class="pl-7 text-sm leading-5">
                  <label for="project_project_type_list_<%= project_type.downcase.gsub('&', '__').gsub(' ', '_') %>" class="font-medium text-gray-700">
                    <%= project_type %>
                  </label>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>

<div class="mt-6 sm:mt-5">
  <div class="sm:border-t sm:border-gray-200 sm:pt-5">
    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
      <label for="needs_funding" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
        <%= t('need_funding?') %><br/>
      </label>
      <div class="mt-4 sm:mt-0 sm:col-span-2">
        <div class="max-w-lg">
            <div class="relative flex items-start">
              <div class="absolute flex items-center h-5">
              <%= f.check_box :needs_funding, { class: "form-checkbox h-4 w-4 text-primary-600 transition duration-150 ease-in-out" }, 'true', 'false' %>
              </div>
              <div class="pl-7 text-sm leading-5 font-medium text-gray-700">
                  <%= 'Yes' %>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-8 border-t border-gray-200 pt-5">
<div class="flex justify-end">
  <span class="ml-3 inline-flex rounded-md shadow-sm">
    <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-primary-600 hover:bg-primary-500 focus:outline-none focus:border-primary-700 focus:shadow-outline-primary- active:bg-primary-700 transition duration-150 ease-in-out">
      <%= cta %>
    </button>
  </span>
</div>
</div>
