<% content_for :canonical_url do %><%= request.url.split("?").first %><% end %>

<%- share_title @page_title %>

<%= render partial: 'categories-nav' if is_projects_path %>

<div class="container">
  <%= render partial: 'category-info' if is_projects_path %>
  <%= render partial: 'filters-bar' if @show_filters %>

  <% if @projects.present? %>
    <div class="mt-4">
      <div class="mb-4">
        <%= paginate @projects, theme: 'projects_paginator' %>
      </div>
      <%= list_cards do %>
        <% @projects.each do |project| %>
          <% cache project do %>
            <%= render partial: 'project-card', locals: { project: project, category: @project_category.present? ? @project_category[:name] : nil} %>
          <% end %>
        <% end %>
      <% end %>
      <div class="border-t border-gray-200">
        <%= paginate @projects, theme: 'projects_paginator' %>
      </div>
    </div>
  <% else %>
  <div class="flex flex-col justify-center items-center min-h-400px text-gray-400 text-lg text-center">
    <%= inline_svg_pack_tag 'media/svgs/empty-graphic.svg' %>
    <span class="mt-8"><%= raw t('no_project_found_try_another_search_br_or_create', link_to: link_to('here', new_project_path, class: 'font-bold')) %></span>
  </div>
  <% end %>
</div>
