<% content_for :canonical_url do %><%= request.url.split("?").first %><% end %>

<%- share_title @page_title %>

<%= render partial: 'categories-nav' if is_category_path %>

<div class="container">
  <%= render partial: 'category-info' if is_category_path %>
  <%= render partial: 'filters-bar' if @show_filters %>

  <% if @projects.present? %>
    <div class="mt-8">
      <%= list_project_cards do %>
        <% @projects.each do |project| %>
          <%= render partial: 'project-card', locals: { project: project, category: @project_category.present? ? @project_category[:name] : nil} %>
        <% end %>
      <% end %>
      <%= paginate @projects %>
    </div>
  <% end %>
</div>
