<div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
  <div class="-ml-4 -mt-4 flex justify-between items-center flex-wrap sm:flex-no-wrap">
    <div class="ml-4 mt-4">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        <%= @projects_header %>
      </h3>
      <p class="mt-1 text-sm leading-5 text-gray-500">
        <%= @projects_subheader %>
        <% if current_user.blank? %>
          <%= link_to 'Sign up', new_user_registration_path, class: 'text-indigo-500' %> to volunteer.
        <% elsif !current_user.has_complete_profile? %>
          <%= link_to 'Fill out your profile', edit_user_registration_path, class: 'text-indigo-500' %> to volunteer.
        <% end %>
      </p>
    </div>
    <div class="ml-4 mt-4 flex-shrink-0">
      <span class="inline-flex rounded-md shadow-sm">
        <%= link_to new_project_path do %>
          <button type="button" class="relative inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-700 active:bg-indigo-700">
            Create project
          </button>
        <% end %>
      </span>
    </div>
  </div>
</div>

<br/>

<div class="-ml-4 -mt-4 flex justify-between items-center flex-wrap sm:flex-no-wrap">
    <div class="ml-4 mt-4">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Filter project by skills needed
      </h3>
      <p class="mt-1 text-sm leading-5 text-gray-500">   
        <%= link_to 'Show all', "/projects", :class => 'inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium leading-5 bg-gray-100 text-gray-800' %>
        <% ALL_SKILLS.each do |skill|%>
        <%= link_to skill, "/projects?skill=#{skill}", :class => 'inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium leading-5 bg-gray-100 text-gray-800' %>
        <% end %>
      </p>
    </div>
</div>

<br/>

<div class="-ml-4 -mt-4 flex justify-between items-center flex-wrap sm:flex-no-wrap">
    <div class="ml-4 mt-4">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Filter by project type
      </h3>
      <p class="mt-1 text-sm leading-5 text-gray-500">   
        <%= link_to 'Show all', "/projects", :class => 'inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium leading-5 bg-gray-100 text-gray-800' %>
        <% ALL_PROJECT_TYPES.each do |project_type|%>
        <%= link_to project_type, "/projects?project_type=#{project_type}", :class => 'inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium leading-5 bg-gray-100 text-gray-800' %>
        <% end %>
      </p>
    </div>
</div>

<% if @projects.present? %>
  <div class="bg-white shadow overflow-hidden sm:rounded-md">
    <ul>
      <% @projects.each_with_index do |project, idx| %>
        <li class="border-t border-gray-200">
          <%= link_to project_path(project), class: "block transition duration-150 ease-in-out #{project_row_class project}" do %>
            <div class="px-4 py-4 sm:px-6">
              <div class="flex flex-col md:flex-row md:items-center md:justify-between">
                <div class="text-sm leading-5 font-medium text-indigo-600 truncate">
                  <%= project.name %>
                </div>
                <div class="mt-2 md:mt-0 md:ml-4 flex-shrink-0 flex">
                  <% project_volunteer_class = project.volunteered_users.count > 0 ? "bg-green-100 text-green-800" : "bg-yellow-100 text-yellow-800" %>
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full <%= project_volunteer_class %>">
                    <% if project.volunteered_users.count == 0 %>
                      no volunteers
                    <% else %>
                      <%= pluralize(project.volunteered_users.count, 'volunteer') %>
                    <% end %>

                    <% if current_user.blank? %>
                      - sign up to volunteer
                    <% elsif !current_user.has_complete_profile? %>
                      - complete your profile to volunteer
                    <% end %>
                  </span>
                </div>
              </div>
              <div class="mt-2 sm:flex sm:justify-between">
                <div class="text-sm leading-5 text-gray-500">
                  <%= simple_format project.description, class: 'mb-2' %>
                </div>
              </div>
              <div class="mt-2 sm:flex sm:justify-between">
                <div class="sm:flex">
                  <div class="mt-2 flex items-center text-sm leading-5 text-gray-500 sm:mt-0">
                    <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                      <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"/>
                    </svg>
                    <%= project.location.present? ? project.location : 'Remote' %>
                  </div>
                </div>
                <div class="mt-2 flex items-center text-xs leading-5 text-gray-500 sm:mt-0">
                  <span>
                    created
                    <time><%= distance_of_time_in_words_to_now project.created_at %> ago</time>
                  </span>
                </div>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>

    <%= paginate @projects %>
  </div>
<% end %>
