<% content_for :canonical_url do %><%= request.url.split("?").first %><% end %>

<%- share_title @page_title %>

<%= render partial: 'categories-nav' if is_projects_path %>

<div class="container">
  <%= render partial: 'category-info' if is_projects_path %>
  <%= render partial: 'filters-bar' if @show_filters %>

  <% if @projects.present? %>
    <div class="mt-4">
      <div class="mb-4">
        <%= paginate @projects, theme: 'projects_paginator' %>
      </div>
      <%= list_project_cards do %>
        <% @projects.each do |project| %>
          <%= render partial: 'project-card', locals: { project: project, category: @project_category.present? ? @project_category[:name] : nil} %>
        <% end %>
      <% end %>
      <div class="border-t border-gray-200">
        <%= paginate @projects, theme: 'projects_paginator' %>
      </div>
    </div>
  <% end %>
</div>
