<% content_for :canonical_url do %><%= request.url.split("?").first %><% end %>

<%- share_title @page_title %>

<%= render partial: 'categories-nav' if is_category_path %>

<div class="container">
  <%= render partial: 'category-info' if is_category_path %>
  <%= render partial: 'filters-bar' if @show_filters %>

  <% if @projects.present? %>
    <div class="sm:rounded-md sm:grid grid-cols-2 md:grid-cols-3 gap-8 my-4">
      <% @projects.each do |project| %>
        <%= render partial: 'project-card', locals: { project: project, category: @project_category.present? ? @project_category[:name] : nil} %>
      <% end %>
    </div>
    <%= paginate @projects %>
  <% end %>
</div>
