<div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
  <div class="-ml-4 -mt-4 flex justify-between items-center flex-wrap sm:flex-no-wrap">
    <div class="ml-4 mt-4">
      <div class="flex items-center">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          <%= @project.name %> project
        </h3>
      </div>
    </div>

    <div class="ml-4 mt-4 flex-shrink-0 flex">
      <% if current_user == @project.user %>
        <span class="ml-3 inline-flex rounded-md shadow-sm">
          <%= link_to edit_project_path(@project) do %>
            <button type="button" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-50 active:text-gray-800">
              <svg class="-ml-1 mr-2 h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"/>
              </svg>
              <span>
                Edit
              </span>
            </button>
          <% end %>
        </span>
      <% else %>
        <span class="ml-3 inline-flex py-2 text-sm text-gray-700">
          <% if @project.volunteered_users.count == 0 %>
            no volunteers
          <% else %>
            <%= pluralize(@project.volunteered_users.count, 'volunteer') %>
          <% end %>

          <% if current_user && !current_user.has_complete_profile? %>
            - complete your profile to volunteer
          <% end %>
        </span>

        <% if current_user.blank? %>
          <%= link_to new_user_registration_path do %>
            <span class="ml-3 inline-flex rounded-md shadow-sm">
              <button type="button" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-50 active:text-gray-800">
                <svg class="-ml-1 mr-2 h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                  <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"/>
                </svg>
                <span>
                  Sign up to volunteer
                </span>
              </button>
            </span>
          <% end %>
        <% elsif current_user.has_complete_profile? %>
          <% if current_user.volunteered_for_project?(@project) %>
            <%= link_to toggle_volunteer_project_path(@project), method: :post do %>
              <span class="ml-3 inline-flex rounded-md shadow-sm">
                <button type="button" class="relative inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-orange-600 hover:bg-orange-500 focus:outline-none focus:shadow-outline-orange focus:border-orange-700 active:bg-orange-700">
                  <svg class="-ml-1 mr-2 h-5 w-5 text-white" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z"/>
                  </svg>
                  <span>
                    Cancel volunteer offer
                  </span>
                </button>
              </span>
            <% end %>
          <% else %>
            <%= link_to toggle_volunteer_project_path(@project), method: :post, data: { confirm: "Are you want to you want to volunteer? The project owner will be alerted." } do %>
              <span class="ml-3 inline-flex rounded-md shadow-sm">
                <button type="button" class="relative inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-700 active:bg-indigo-700">
                  <svg class="-ml-1 mr-2 h-5 w-5 text-white" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z"/>
                  </svg>
                  <span>
                    Volunteer
                  </span>
                </button>
              </span>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<br/>

<div class="bg-white shadow overflow-hidden sm:rounded-lg">
  <div>
    <dl>
      <div class="bg-gray-50 px-4 pt-5 pb-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm leading-5 font-medium text-gray-500">
          Description
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
          <%= simple_format @project.description, class: 'mb-3' %>
        </dd>
      </div>

      <div class="px-4 pt-5 pb-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm leading-5 font-medium text-gray-500">
          Who is already working on this
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
          <%= simple_format @project.participants, class: 'mb-3' %>
        </dd>
      </div>

      <div class="bg-gray-50 px-4 pt-5 pb-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm leading-5 font-medium text-gray-500">
          Looking for
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
          <%= simple_format @project.looking_for, class: 'mb-3' %>
        </dd>
      </div>

      <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm leading-5 font-medium text-gray-500">
          Location
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
          <%= @project.location %>
        </dd>
      </div>
    </dl>
  </div>
</div>

<% if current_user == @project.user && @project.volunteered_users.count > 0 %>
  <div class="mt-8 bg-white overflow-hidden sm:rounded-lg sm:shadow">
    <div class="bg-white px-4 py-5 sm:px-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Volunteers
      </h3>
    </div>
      
    <ul>
      <% @project.volunteers.each do |volunteer| %>
        <% user = volunteer.user %>
        <%= render partial: 'devise/registrations/user', locals: { user: user, volunteer: volunteer } %>
      <% end %>
    </ul>
  </div>
<% end %>