<%- share_title "Project #{@project.name}" %>
<%- share_url project_url(@project); %>

<div class="container">
  <% if current_user && (current_user == @project.user || current_user.is_admin?) %>
    <div class="mx-4 sm:mx-0 bg-white px-4 py-5 border-b border-gray-200 sm:px-6 mb-8 rounded-lg shadow">
      <div class="-ml-4 -mt-4 flex justify-between items-center flex-wrap">
        <div class="ml-4 mt-4">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            <%= @project.name %>
          </h3>

          <% if current_user && @project.user == current_user %>
            <p class="mt-1 text-sm leading-5 text-gray-500">
              Use <%= link_to "HWC's Discord", "https://discord.gg/8nAJfFN", class: "text-indigo-500", target: "_blank" %> to manage your project communication.
            </p>
          <% elsif @project.user && @project.user.name.present? %>
            <div class="mt-1">
              <% if @project.user.visibility %>
                <%= link_to profile_path(@project.user), class: 'flex-shrink-0 group inline-block focus:outline-none' do %>
                  <%= render partial: 'user_avatar', locals: {user: @project.user} %>
                <% end %>
              <% else %>
                <%= render partial: 'user_avatar', locals: {user: @project.user} %>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="flex flex-shrink-0 flex-wrap max-w-full">
          <span class="ml-3 inline-flex rounded-md shadow-sm mt-4">
            <%= link_to edit_project_path(@project) do %>
              <button type="button" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-50 active:text-gray-800">
                <svg class="-ml-1 mr-2 h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"/>
                </svg>
                <span>
                  Edit
                </span>
              </button>
            <% end %>
          </span>

          <% if @project.volunteered_users.count > 0 %>
            <% volunteer_emails = @project.volunteer_emails %>

            <span class="ml-3 inline-flex rounded-md shadow-sm mt-4">
              <%= mail_to current_user.email, bcc: volunteer_emails.join(', ') do %>
                <button type="button" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-50 active:text-gray-800">
                  <svg class="-ml-1 mr-2 h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"/>
                    <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"/>
                  </svg>
                  <span>
                    Send email to volunteers
                  </span>
                </button>
              <% end %>
            </span>

            <span class="ml-3 inline-flex rounded-md shadow-sm mt-4">
              <%= link_to volunteers_project_path(@project, format: 'csv') do %>
                <button type="button" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-50 active:text-gray-800">
                  <svg class="-ml-1 mr-2 h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd"/>
                  </svg>
                  <span>
                    Export volunteers to CSV
                  </span>
                </button>
              <% end %>
            </span>
          <% end %>

          <% if @project.can_edit?(current_user) %>
            <%= link_to project_path(project_id: @project.id), method: :delete, data: { confirm: "Are you sure you want to delete this project?" } do %>
              <span class="ml-3 inline-flex rounded-md shadow-sm mt-4">
                <button type="button" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150">
                  <svg class="-ml-1 mr-2 h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"/>
                  </svg>
                  <span>
                    Delete
                  </span>
                </button>
              </span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <% if current_user && current_user.is_admin? %>
    <div class="bg-white mt-6 border-2 border-red-300 bg-red-100 shadow sm:rounded-lg mb-8">
      <div class="px-4 py-5 sm:p-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Admin area
        </h3>
        <div class="flex justify-left mt-3 text-sm leading-5">
          <%= link_to toggle_project_highlight_path(project_id: @project.id), method: :post do %>
            <span class="inline-flex rounded-md shadow-sm mt-4">
              <button type="button" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150">
                <span>
                  <% if @project.highlight %>
                    Remove highlight
                  <% else %>
                    Highlight
                  <% end %>
                </span>
              </button>
            </span>
          <% end %>

          <%= link_to new_volunteer_group_path(project_id: @project.id), target: "_blank" do %>
            <span class="ml-6 inline-flex rounded-md shadow-sm mt-4">
              <button type="button" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150">
                <span>
                  Assign volunteers
                </span>
              </button>
            </span>
          <% end %>

          <%= link_to edit_project_path(project_id: @project.id) do %>
            <span class="ml-6 inline-flex rounded-md shadow-sm mt-4">
              <button type="button" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150">
                <span>
                  Edit project
                </span>
              </button>
            </span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <% if current_user && @project.volunteered_users.count < MAX_VOLUNTEERS_FOR_HIGHLIGHT_OFFER && @project.user == current_user && !cookies[:highlight_projects_alert] %>
    <div class="bg-white mt-6 mb-8 border-2 border-orange-300 bg-orange-100 shadow sm:rounded-lg" id="disable_highlight_projects_container">
      <div class="px-4 py-5 sm:p-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Are you a validated or established project with large impact?
        </h3>
        <div class="mt-2 text-sm leading-5 text-gray-500">
          <p>
            We try our best to surface interesting projects with lots of potential that just need a bit of a boost. Write to us if that's the case.
          </p>
        </div>
        <div class="flex justify-between mt-3 text-sm leading-5">
          <%= mail_to ENV['EMAIL_ADDRESS'], "Tell us about your project &rarr;".html_safe, subject: "[Highlight request] #{@project.name} ", encoding: "hex", target: "_blank", class: "font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150" %>
          <%= link_to "javascript:void(0)", id: "disable_highlight_projects_alert", class: "font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150" do %>
            Don't show this again
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <% if current_user && @project.volunteered_users.count >= VOLUNTEERS_REQUIRED_FOR_FUNDING && @project.user == current_user && !cookies[:funding_alert] %>
    <div class="bg-white mt-6 border-2 border-orange-300 bg-orange-100 shadow sm:rounded-lg mb-8" id="disable_funding_container">
      <div class="px-4 py-5 sm:p-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Apply for funding
        </h3>
        <div class="mt-2 text-sm leading-5 text-gray-500">
          <p>
            The <%= link_to "COVID-19 Task Force", "www.covid19-response.com", _target: "_blank", class: "text-indigo-500" %> offers HWC projects that reach a certain threshold of volunteers the ability to apply for funding and resources from donors and investors. The TF is made up of epidemiologists, virologist, operators, and investors that are vetting the highest impact ideas to combat COVID-19.
          </p>
        </div>
        <div class="flex justify-between mt-3 text-sm leading-5">
          <%= link_to "https://forms.gle/5gLZBUueYxZYynrP8", target: "_blank", class: "font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150" do %>
            Submit an application here &rarr;
          <% end %>
          <%= link_to "javascript:void(0)", id: "disable_funding_alert", class: "font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150" do %>
            Don't show this again
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div>
    <div class="overflow-hidden sticky top-10 z-40 mb-8 sm:hidden">
      <%= render partial: 'volunteer_button' %>
    </div>
    <div class="mt-0 mx-4 gap-0 rounded-lg bg-white shadow overflow-hidden sm:mx-0 sm:grid sm:grid-cols-2">
      <div class="sm:col-span-1 relative h-40 sm:h-auto bg-cover bg-center" style="background-image: url(<%= @project.image.present? ? url_for(@project.image.variant(resize_to_limit: [1000, 1000])) : '/images/project-default.png' %>);">
        <% if @project.status.present? %>
          <div class="absolute top-4 left-4 rounded-full overflow-hidden">
            <% if @project.status == "Just started" %>
              <div class="bg-orange-500 flex items-center px-3 py-1 opacity-75">
                <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-1">
                  <path d="M9.1826 2.30401C9.1826 2.10032 9.09465 1.90498 8.9381 1.76095C8.78155 1.61692 8.56922 1.53601 8.34782 1.53601C8.12642 1.53601 7.91409 1.61692 7.75754 1.76095C7.60098 1.90498 7.51303 2.10032 7.51303 2.30401V3.07201C7.51303 3.2757 7.60098 3.47104 7.75754 3.61507C7.91409 3.7591 8.12642 3.84001 8.34782 3.84001C8.56922 3.84001 8.78155 3.7591 8.9381 3.61507C9.09465 3.47104 9.1826 3.2757 9.1826 3.07201V2.30401ZM13.0702 4.42139C13.2222 4.27654 13.3064 4.08254 13.3045 3.88117C13.3026 3.67981 13.2148 3.48718 13.06 3.34479C12.9052 3.2024 12.6959 3.12163 12.477 3.11988C12.2581 3.11813 12.0472 3.19554 11.8898 3.33543L11.2996 3.87841C11.1475 4.02326 11.0634 4.21726 11.0653 4.41862C11.0672 4.61999 11.155 4.81261 11.3098 4.95501C11.4646 5.0974 11.6739 5.17817 11.8928 5.17992C12.1117 5.18167 12.3225 5.10426 12.48 4.96436L13.0702 4.42139ZM15.0261 7.68001C15.0261 7.8837 14.9381 8.07904 14.7816 8.22307C14.625 8.3671 14.4127 8.44801 14.1913 8.44801H13.3565C13.1351 8.44801 12.9228 8.3671 12.7662 8.22307C12.6097 8.07904 12.5217 7.8837 12.5217 7.68001C12.5217 7.47632 12.6097 7.28098 12.7662 7.13695C12.9228 6.99292 13.1351 6.91201 13.3565 6.91201H14.1913C14.4127 6.91201 14.625 6.99292 14.7816 7.13695C14.9381 7.28098 15.0261 7.47632 15.0261 7.68001ZM4.21564 4.96436C4.29265 5.03771 4.38476 5.09622 4.48661 5.13647C4.58846 5.17672 4.698 5.19791 4.80884 5.19879C4.91968 5.19968 5.0296 5.18025 5.1322 5.14163C5.23479 5.10302 5.32799 5.04599 5.40637 4.97388C5.48475 4.90177 5.54674 4.81602 5.58871 4.72164C5.63069 4.62725 5.65181 4.52612 5.65084 4.42415C5.64988 4.32218 5.62685 4.2214 5.5831 4.1277C5.53935 4.034 5.47576 3.94926 5.39603 3.87841L4.80583 3.33543C4.64839 3.19554 4.43752 3.11813 4.21865 3.11988C3.99977 3.12163 3.7904 3.2024 3.63562 3.34479C3.48084 3.48718 3.39305 3.67981 3.39115 3.88117C3.38925 4.08254 3.47339 4.27654 3.62545 4.42139L4.21564 4.96436ZM4.1739 7.68001C4.1739 7.8837 4.08595 8.07904 3.9294 8.22307C3.77285 8.3671 3.56052 8.44801 3.33912 8.44801H2.50434C2.28294 8.44801 2.07061 8.3671 1.91406 8.22307C1.75751 8.07904 1.66956 7.8837 1.66956 7.68001C1.66956 7.47632 1.75751 7.28098 1.91406 7.13695C2.07061 6.99292 2.28294 6.91201 2.50434 6.91201H3.33912C3.56052 6.91201 3.77285 6.99292 3.9294 7.13695C4.08595 7.28098 4.1739 7.47632 4.1739 7.68001ZM6.67825 12.288V11.52H10.0174V12.288C10.0174 12.6954 9.84148 13.0861 9.52838 13.3741C9.21527 13.6622 8.79061 13.824 8.34782 13.824C7.90502 13.824 7.48036 13.6622 7.16726 13.3741C6.85415 13.0861 6.67825 12.6954 6.67825 12.288ZM10.0174 10.752C10.0299 10.4909 10.191 10.2559 10.4156 10.0923C10.9604 9.69698 11.3579 9.15531 11.5527 8.54259C11.7475 7.92988 11.7299 7.27655 11.5025 6.67341C11.2751 6.07028 10.8491 5.54731 10.2838 5.17719C9.71838 4.80707 9.04172 4.60818 8.34782 4.60818C7.65392 4.60818 6.97725 4.80707 6.41188 5.17719C5.8465 5.54731 5.4205 6.07028 5.19309 6.67341C4.96569 7.27655 4.94817 7.92988 5.14297 8.54259C5.33777 9.15531 5.73521 9.69698 6.28006 10.0923C6.50545 10.2559 6.66573 10.4909 6.67742 10.752H10.0182H10.0174Z" fill="white"/>
                </svg>
                <span class="text-white text-sm font-bold">Idea Stage</span>
              </div>
            <% elsif @project.status == "In progress" %>
              <div class="bg-green-500 flex items-center px-3 py-1 opacity-75">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-1">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.20409 1.31201V2.60481C6.24574 2.72001 5.37271 3.09121 4.64409 3.64161L3.71199 2.72641C4.68348 1.95201 5.88471 1.44001 7.20409 1.31201ZM3.71856 4.54401L2.77989 3.63521C1.98563 4.58241 1.46051 5.75361 1.32922 7.04001H2.65517C2.77333 6.10561 3.15404 5.25441 3.71856 4.54401ZM1.32922 8.32001H2.65517C2.77333 9.25441 3.15404 10.1056 3.71856 10.8096L2.77989 11.7248C1.98563 10.7776 1.46051 9.60641 1.32922 8.32001ZM3.71199 12.6336C4.68348 13.408 5.89127 13.92 7.20409 14.048V12.7552C6.24574 12.64 5.37271 12.2688 4.64409 11.7184L3.71199 12.6336ZM8.54974 14.048C11.8515 13.7088 14.4246 10.9824 14.4246 7.68001C14.4246 4.37761 11.8515 1.65121 8.54974 1.31201V2.60481C11.1229 2.93761 13.1118 5.08801 13.1118 7.68001C13.1118 10.272 11.1229 12.4224 8.54974 12.7552V14.048Z" fill="white"/>
                </svg>
                <span class="text-white text-sm font-bold">In Progress</span>
              </div>
            <% elsif @project.status == "Launched" %>
              <div class="bg-teal-500 flex items-center px-3 py-1 opacity-75">
                <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-1">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.2793 1.53601C4.50629 1.53601 4.72398 1.61692 4.88448 1.76095C5.04499 1.90498 5.13516 2.10032 5.13516 2.30401V3.07201H5.99101C6.218 3.07201 6.43569 3.15292 6.5962 3.29695C6.7567 3.44098 6.84687 3.63632 6.84687 3.84001C6.84687 4.0437 6.7567 4.23904 6.5962 4.38307C6.43569 4.5271 6.218 4.60801 5.99101 4.60801H5.13516V5.37601C5.13516 5.5797 5.04499 5.77504 4.88448 5.91907C4.72398 6.0631 4.50629 6.14401 4.2793 6.14401C4.05231 6.14401 3.83462 6.0631 3.67412 5.91907C3.51362 5.77504 3.42344 5.5797 3.42344 5.37601V4.60801H2.56759C2.3406 4.60801 2.12291 4.5271 1.96241 4.38307C1.8019 4.23904 1.71173 4.0437 1.71173 3.84001C1.71173 3.63632 1.8019 3.44098 1.96241 3.29695C2.12291 3.15292 2.3406 3.07201 2.56759 3.07201H3.42344V2.30401C3.42344 2.10032 3.51362 1.90498 3.67412 1.76095C3.83462 1.61692 4.05231 1.53601 4.2793 1.53601ZM4.2793 9.21601C4.50629 9.21601 4.72398 9.29692 4.88448 9.44095C5.04499 9.58498 5.13516 9.78032 5.13516 9.98401V10.752H5.99101C6.218 10.752 6.43569 10.8329 6.5962 10.977C6.7567 11.121 6.84687 11.3163 6.84687 11.52C6.84687 11.7237 6.7567 11.919 6.5962 12.0631C6.43569 12.2071 6.218 12.288 5.99101 12.288H5.13516V13.056C5.13516 13.2597 5.04499 13.455 4.88448 13.5991C4.72398 13.7431 4.50629 13.824 4.2793 13.824C4.05231 13.824 3.83462 13.7431 3.67412 13.5991C3.51362 13.455 3.42344 13.2597 3.42344 13.056V12.288H2.56759C2.3406 12.288 2.12291 12.2071 1.96241 12.0631C1.8019 11.919 1.71173 11.7237 1.71173 11.52C1.71173 11.3163 1.8019 11.121 1.96241 10.977C2.12291 10.8329 2.3406 10.752 2.56759 10.752H3.42344V9.98401C3.42344 9.78032 3.51362 9.58498 3.67412 9.44095C3.83462 9.29692 4.05231 9.21601 4.2793 9.21601ZM10.2703 1.53601C10.4592 1.53596 10.6428 1.59197 10.7925 1.69532C10.9422 1.79868 11.0496 1.94356 11.0979 2.1074L12.107 5.52961L14.9775 7.01492C15.1076 7.08233 15.2156 7.17928 15.2907 7.29603C15.3659 7.41277 15.4054 7.5452 15.4054 7.68001C15.4054 7.81482 15.3659 7.94725 15.2907 8.06399C15.2156 8.18074 15.1076 8.27769 14.9775 8.3451L12.107 9.83118L11.0971 13.2526C11.0486 13.4163 10.9412 13.561 10.7916 13.6643C10.642 13.7675 10.4586 13.8235 10.2699 13.8235C10.0811 13.8235 9.8977 13.7675 9.7481 13.6643C9.5985 13.561 9.49113 13.4163 9.44269 13.2526L8.43363 9.83041L5.56309 8.3451C5.43299 8.27769 5.32496 8.18074 5.24985 8.06399C5.17474 7.94725 5.1352 7.81482 5.1352 7.68001C5.1352 7.5452 5.17474 7.41277 5.24985 7.29603C5.32496 7.17928 5.43299 7.08233 5.56309 7.01492L8.43363 5.52884L9.44354 2.1074C9.49186 1.94369 9.59912 1.7989 9.74865 1.69556C9.89817 1.59222 10.0816 1.53613 10.2703 1.53601Z" fill="white"/>
                </svg>
                <span class="text-white text-sm font-bold">Launched</span>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if @project.accepting_volunteers? %>
          <div class="absolute top-4 right-4 rounded-full overflow-hidden">
            <div class="flex items-center px-3 py-1" style="background-color: rgba(0, 0, 0, 0.5)">
              <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-1">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.94091 0.830339C8.13467 0.887937 8.30394 1.00246 8.42411 1.15726C8.54427 1.31205 8.60906 1.49904 8.60905 1.69104V6.20203H12.427C12.6016 6.20196 12.7728 6.24715 12.9221 6.33269C13.0715 6.41823 13.1931 6.54084 13.2738 6.68718C13.3545 6.83352 13.3912 6.99798 13.3799 7.16266C13.3686 7.32734 13.3097 7.48594 13.2097 7.62119L6.52827 16.6432C6.41199 16.8006 6.24558 16.9189 6.05326 16.9808C5.86094 17.0427 5.65274 17.045 5.45896 16.9873C5.26517 16.9297 5.09591 16.8151 4.97579 16.6602C4.85568 16.5053 4.79098 16.3182 4.79111 16.1262V11.6152H0.973173C0.798581 11.6153 0.627311 11.5701 0.478004 11.4846C0.328697 11.399 0.207071 11.2764 0.126364 11.1301C0.0456577 10.9837 0.00896141 10.8193 0.020269 10.6546C0.0315767 10.4899 0.0904551 10.3313 0.190497 10.1961L6.87188 1.17408C6.98834 1.0169 7.15478 0.898917 7.34703 0.837264C7.53927 0.775612 7.74731 0.773502 7.94091 0.831241V0.830339Z" fill="white"/>
              </svg>
              <span class="text-white text-sm font-bold">Actively Recruiting</span>
            </div>
          </div>
        <% end %>
      </div>
      <div class="sm:col-span-1 flex-col justify-between">
        <div class="p-4 sm:p-6 pb-7">
          <h1 class="text-xl leading-tight text-indigo-600 font-bold">
            <%= @project.name %>
          </h1>
          <% if @project.description? %>
            <%= simple_format Rinku.auto_link(sanitize(@project.short_description), :all, 'class="text-indigo-500" rel="nofollow noopener noreferrer"'), { class: 'mb-5 mt-3 text-sm' }, sanitize: false %>
          <% end %>
          <% if @project.project_type_list.present? %>
            <div class="mt-5 text-sm leading-5 text-gray-900 flex content-center flex-wrap space-y-bottom-2 space-x-right-2">
              <%= skill_badges @project.project_type_list, model: 'projects', filter_by: 'project_types' %>
            </div>
          <% end %>
          <div class="mt-4 grid grid-rows-3 lg:grid-cols-3 gap-2">
            <div class="flex items-center text-indigo-600 col-span-1">
              <%= inline_svg_pack_tag 'media/svgs/location-pin.svg', class: 'h-6 mr-2' %>
              <span class="text-gray-500 text-xs font-bold leading-tight">
                <%= (@project.target_country.blank? || @project.target_country == "Global") ? "Global" : "Serves in #{format_country(@project.target_country)}" %>
              </span>
            </div>
            <div class="flex items-center text-indigo-600 col-span-1">
              <%= inline_svg_pack_tag 'media/svgs/time-ago.svg', class: 'h-6 mr-2' %>
              <span class="text-gray-500 text-xs font-bold leading-tight">Created <%= time_ago_in_words(@project.created_at) %> ago</span>
            </div>
            <div class="flex items-center text-indigo-600 col-span-1">
              <%= inline_svg_pack_tag 'media/svgs/people.svg', class: 'h-6 mr-2' %>
              <span class="text-gray-500 text-xs font-bold leading-tight"><%= @project.volunteers.count %> <%= 'Volunteer'.pluralize @project.volunteers.count %></span>
            </div>
          </div>
        </div>
        <% if @project.docs_and_demo.present? && @project.docs_and_demo.match(URI.regexp) %>
          <div class="p-6 pt-3 pb-3 bg-indigo-600 text-white">
            <a href="<%= @project.docs_and_demo[URI.regexp] %>" rel="nofollow noopener noreferrer" target="_blank" class="flex justify-center items-center text-sm font-medium">
              <span><%= @project.docs_and_demo[URI.regexp] %></span>
              <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="ml-2">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5 5V19H19V12H21V19C21 20.1 20.1 21 19 21H5C3.89 21 3 20.1 3 19V5C3 3.9 3.89 3 5 3H12V5H5ZM14 5V3H21V10H19V6.41L9.17 16.24L7.76 14.83L17.59 5H14Z" fill="white" />
              </svg>
            </a>
          </div>
        <% end %>
      </div>
    </div>

    <div class="mt-8 mx-4 sm:grid sm:grid-cols-3 sm:gap-10 sm:mx-0">
      <div class="sm:col-span-2">
        <div class="bg-white overflow-hidden rounded-lg sm:pb-4 shadow">
          <div class="p-4 sm:px-6 sm:py-3 bg-purple-100 border-b border-indigo-400">
            <h3 class="text-indigo-700 font-bold">About the Project</h3>
          </div>

          <div class="p-4 sm:px-6 sm:pt-5 sm:pb-2">
            <dt class="text-sm leading-5 font-bold text-gray-800">
              Description
            </dt>
            <dd class="mt-2 text-sm leading-5 text-gray-600">
              <%= simple_format Rinku.auto_link(sanitize(@project.description), :all, 'class="text-indigo-500" rel="nofollow noopener noreferrer"'), { class: 'mb-3' }, sanitize: false %>
            </dd>
          </div>

          <% if @project.progress.present? %>
            <div class="p-4 sm:px-6 sm:pt-4 sm:pb-2">
              <dt class="text-sm leading-5 font-bold text-gray-800">
                How far along is it
              </dt>
              <dd class="mt-2 text-sm leading-5 text-gray-600">
                <%= simple_format Rinku.auto_link(sanitize(@project.progress), :all, 'class="text-indigo-500" rel="nofollow noopener noreferrer"'), { class: 'mb-3' }, sanitize: false %>
              </dd>
            </div>
          <% end %>

          <% if @project.target_location.present? %>
            <div class="p-4 sm:px-6 sm:pt-4 sm:pb-2">
              <dt class="text-sm leading-5 font-bold text-gray-800">
                Project target location
              </dt>
              <dd class="mt-2 text-sm leading-5 text-gray-600">
                <%= @project.target_location %>
              </dd>
            </div>
          <% end %>
        </div>

        <div class="mt-8 bg-white overflow-hidden rounded-lg shadow">
          <div class="p-4 sm:px-6 sm:py-3 bg-purple-100 border-b border-indigo-400">
            <h3 class="text-indigo-700 font-bold">Help Needed</h3>
          </div>

          <% if @project.skill_list.present? %>
            <div class="p-4 sm:px-6 sm:pt-5 sm:pb-2">
              <dt class="text-sm leading-5 font-medium text-gray-800">
                Skills needed
              </dt>
              <dd class="mt-2 text-sm leading-5 text-gray-600 flex content-center flex-wrap space-y-bottom-2 space-x-right-2">
                <%= skill_badges @project.skill_list, color: 'blue', model: 'projects', filter_by: 'skills' %>
              </dd>
            </div>
          <% end %>

          <% if @project.accepting_volunteers? %>
            <div class="p-4 sm:px-6 sm:pt-4 sm:pb-2">
              <dt class="text-sm leading-5 font-bold text-gray-800">
                Tasks that need to get done
              </dt>
              <dd class="mt-2 text-sm leading-5 text-gray-600">
                <%= simple_format @project.looking_for, class: 'mb-3' %>
              </dd>
            </div>
          <% end %>
        </div>
      </div>

      <div class="mt-8 sm:col-span-1 sm:mt-0">
        <div class="sm:sticky sm:top-10">
          <div class="overflow-hidden mb-8 hidden sm:block">
            <%= render partial: 'volunteer_button' %>
          </div>

          <div class="bg-white overflow-hidden rounded-lg sm:sticky sm:top-0 shadow">
            <div class="p-4 sm:px-6 sm:py-3 bg-purple-100 border-b border-indigo-400">
              <h3 class="text-indigo-700 font-bold">Project details</h3>
            </div>

            <div class="p-6 space-y-4">
              <%= project_panel_item(title: 'Who is already working on this') do %>
                <%= simple_format Rinku.auto_link(sanitize(@project.participants), :all, 'class="text-indigo-500" rel="nofollow noopener noreferrer"'), { class: 'mb-3' }, sanitize: false %>
              <% end %>

              <% if @project.links.present? %>
                <%= project_panel_item(title: 'Helpful links') do %>
                  <%= simple_format Rinku.auto_link(sanitize(@project.links), :all, 'class="text-indigo-500" rel="nofollow noopener noreferrer"'), { class: 'mb-3' }, sanitize: false %>
                <% end %>
              <% end %>

              <% if @project.contact.present? %>
                <%= project_panel_item(title: 'How to get in touch') do %>
                  <%= Rinku.auto_link(sanitize(@project.contact), :all, 'class="text-indigo-500" rel="nofollow noopener noreferrer"').html_safe %>
                <% end %>
              <% end %>

              <% if @project.accepting_volunteers? %>
                <% if @project.number_of_volunteers.present? %>
                  <%= project_panel_item(title: 'Number of volunteers needed') do %>
                    <%= @project.number_of_volunteers %>
                  <% end %>
                <% end %>

                <% if @project.volunteer_location.present? %>
                  <%= project_panel_item(title: 'Preferred Volunteer location') do %>
                    <%= @project.volunteer_location %>
                  <% end %>
                <% end %>

                <% if @project.organization_status.present? %>
                  <%= project_panel_item(title: 'Organization status') do %>
                    <div class="text-indigo-600 flex items-end">
                      <%= inline_svg_pack_tag('media/svgs/category-community.svg', class: 'fill-current w-5 h-5 mt-1') if @project.organization_status == 'Non-profit' %><%= @project.organization_status %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if current_user && @project.volunteered_users.count > 0 && (current_user == @project.user || current_user.is_admin?) %>
    <div class="mt-8 bg-white overflow-hidden sm:rounded-lg sm:shadow">
      <div class="bg-white px-4 py-5 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Volunteers
        </h3>
      </div>

        <ul>
          <% @project.volunteers.includes(user: :skills).each do |volunteer| %>
            <% user = volunteer.user %>
            <%= render partial: 'devise/registrations/user', locals: { user: user, volunteer: volunteer } %>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
