<%- share_title 'Resources' %>

<!-- Events & Playbook -->
<%= render partial: 'partials/events' %>

<div class="container mb-8">
  <div class="text-white bg-indigo-600 px-4 py-5 border-b border-gray-200 sm:px-6 sm:rounded-md">
    <div class="-ml-4 -mt-4 flex justify-between items-center flex-wrap sm:flex-no-wrap">
      <div class="ml-4 mt-4">
        <h3 class="text-lg leading-6 font-medium">
          Resources, deals, and benefits from organizations that want to help out with COVID-19.
        </h3>
        <p class="mt-1 text-sm leading-5">
          Organizations are helping out COVID-19 projects too. Find <%= link_to "more here", "https://www.notion.so/Deals-for-businesses-in-the-time-of-COVID-19-bed1c16caf6e4861a24a6e2c21ee1c9a", target: '_blank', class: 'underline' %>.
          <% if current_user.blank? %>
            <%= link_to 'Sign up', new_user_registration_path, class: 'underline' %> to post a resource.
          <% end %>
        </p>
      </div>
      <div class="ml-4 mt-4 flex-shrink-0">
        <span class="inline-flex rounded-md shadow-sm">
          <%= link_to new_offer_path do %>
            <button type="button" class="relative inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md bg-white text-indigo-600 hover:bg-gray-100 focus:outline-none focus:shadow-outline-white focus:border-gray-200 active:bg-gray-200">
              Create resource
            </button>
          <% end %>
        </span>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'offers' %>
