<%- share_title 'Resources' %>

<!-- Events & Playbook -->
<%= render partial: 'partials/events' %>

<%= render partial: 'funding-resources' %>

<div class="container mb-8">
  <div class="px-4 sm:px-0 mt-10 mb-3 font-bold text-center">
    Resources and deals from organizations that want to help out with COVID-19
  </div>

  <div class="flex-shrink-0 text-center mb-6">
    <span class="inline-flex rounded-md shadow-sm">
      <%= link_to new_offer_path do %>
        <button type="button" class="relative inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-700 active:bg-indigo-700">
          Create resource
        </button>
      <% end %>
    </span>

    <span class="text-xs ml-3">
      find more deals <%= link_to "here", "https://www.notion.so/Deals-for-businesses-in-the-time-of-COVID-19-bed1c16caf6e4861a24a6e2c21ee1c9a", target: '_blank', class: 'underline' %>.
    </div>
  </div>
</div>

<%= render partial: 'offers' %>
