<%- share_title "Offer #{@offer.name}" %>

<div class="container">
  <div class="bg-white px-4 py-5 border-b border-gray-200 sm:rounded-lg shadow mx-4 sm:mx-0 sm:px-6">
    <div class="-ml-4 -mt-4 flex justify-between items-center flex-wrap sm:flex-no-wrap">
      <div class="ml-4 mt-4">
        <div class="flex items-center">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            <%= @offer.name %>
          </h3>
        </div>
      </div>

      <div class="ml-4 mt-4 flex-shrink-0 flex">
        <% if current_user == @offer.user %>
          <span class="ml-3 inline-flex rounded-md shadow-sm">
            <%= link_to edit_offer_path(@offer) do %>
              <button type="button" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-50 active:text-gray-800">
                <svg class="-ml-1 mr-2 h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"/>
                </svg>
                <span>
                  <%= t('edit') %>
                </span>
              </button>
            <% end %>
          </span>
        <% end %>
      </div>
    </div>
  </div>

  <br/>

  <div class="bg-white shadow overflow-hidden sm:rounded-lg mx-4 sm:mx-0">
    <div class="px-4 py-5 sm:p-0">
      <dl>
        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
          <dt class="text-sm leading-5 font-medium text-gray-500">
            <%= t('name') %>
          </dt>
          <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
            <%= @offer.name %>
          </dd>
        </div>
        <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:pt-5 sm:pb-2">
          <dt class="text-sm leading-5 font-medium text-gray-500">
            <%= t('description') %>
          </dt>
          <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
            <%= simple_format @offer.description, class: 'mb-3' %>
          </dd>
        </div>
        <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:pt-5 sm:pb-2">
          <dt class="text-sm leading-5 font-medium text-gray-500">
            <%= t('limitations') %>
          </dt>
          <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
            <%= simple_format @offer.limitations, class: 'mb-3' %>
          </dd>
        </div>
        <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:pt-5 sm:pb-2">
          <dt class="text-sm leading-5 font-medium text-gray-500">
            <%= t('how_to_redeem_it') %>
          </dt>
          <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
            <%= simple_format @offer.redemption, class: 'mb-3' %>
          </dd>
        </div>
        <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
          <dt class="text-sm leading-5 font-medium text-gray-500">
            <%= t('location') %>
          </dt>
          <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
            <%= @offer.location %>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
