<div class="container">
  <div class="flex flex-col justify-center sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-lg">
      <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
        Steering Committee
      </h2>
      <p class="mt-2 text-center text-sm leading-5 text-gray-600 max-w">
        Our Steering Committee is composed of BIPOC who will offer guidance and input on how HWBE can best serve the needs of our black community.
      </p>
    </div>
    <div class="container mt-10">
      <div class="grid grid-cols-2 gap-8">
        <%
          odds = Settings.steering_comitee.each_with_index.select { |p, index| index % 2 == 0 }.map(&:first)
          evens = Settings.steering_comitee.each_with_index.select { |p, index| index % 2 != 0 }.map(&:first)
        %>
        <div>
          <% odds.each do |item| %>
            <%= render partial: 'partials/steering_comitee_item', locals: { item: item } %>
          <% end %>
        </div>
        <div>
          <% evens.each do |item| %>
            <%= render partial: 'partials/steering_comitee_item', locals: { item: item } %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="sm:mx-auto sm:w-full sm:max-w-lg">
      <h2 class="mt-6 text-center text-xl leading-9 font-extrabold text-gray-900">
        HBWE Team members
      </h2>
    </div>

    <div class="flex flex-col mt-6">
      <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
        <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
          <table class="min-w-full">
            <tbody>
              <% striped_classes_cycle = [ "bg-white", "bg-gray-50" ] %>
              <tr class="<%= cycle striped_classes_cycle %>">
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                  Misa Beach
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                  <b>Core Team</b> Operations
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                  <%= link_to "LinkedIn", "https://www.linkedin.com/in/misajbeach/", target: "_blank", class: "text-primary-500", rel: "nofollow noopener noreferrer" %>
                </td>
              </tr>
              <tr class="<%= cycle striped_classes_cycle %>">
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                  Kinjal Poonatar
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                  <b>Core Team</b> Account management
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                  <%= link_to "LinkedIn", "https://www.linkedin.com/in/kinjalvalue/", target: "_blank", class: "text-primary-500", rel: "nofollow noopener noreferrer" %>
                </td>
              </tr>
              <tr class="<%= cycle striped_classes_cycle %>">
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                  Cathy Liu
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                  <b>Core Team</b> Product Design
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                  <%= link_to "Twitter", "https://twitter.com/cathyliiiu", target: "_blank", class: "text-primary-500" %>
                  &nbsp;/&nbsp;
                  <%= link_to "LinkedIn", "https://www.linkedin.com/in/cathyliu94/", target: "_blank", class: "text-primary-500" %>
                </td>
              </tr>
              <tr class="<%= cycle striped_classes_cycle %>">
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                  Tinnei Pang
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                  <b>Core Team</b> Design System
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                  <%= link_to "Twitter", "https://twitter.com/tinnnei", target: "_blank", class: "text-primary-500", rel: "nofollow noopener noreferrer" %>
                  &nbsp;/&nbsp;
                  <%= link_to "LinkedIn", "https://www.linkedin.com/in/tinneipang/", target: "_blank", class: "text-primary-500", rel: "nofollow noopener noreferrer" %>
                </td>
              </tr>

              <tr class="<%= cycle striped_classes_cycle %>">
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                  Radu Spineanu
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                  <b>Core Team</b> Strategic Guidance
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                  <%= link_to "Twitter", "https://twitter.com/rspineanu", target: "_blank", class: "text-primary-500", rel: "nofollow noopener noreferrer" %>
                </td>
              </tr>
              <tr class="<%= cycle striped_classes_cycle %>">
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                  Sam Altman
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                  <b>Core Team</b> Strategic Guidance
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                  <%= link_to "Twitter", "https://twitter.com/sama", target: "_blank", class: "text-primary-500", rel: "nofollow noopener noreferrer" %>
                </td>
              </tr>

              <tr class="<%= cycle striped_classes_cycle %>">
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                  Jamie Wilkinson
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                  <b>Contributing Volunteer</b> Product
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                  <%= link_to "Twitter", "https://twitter.com/jamiew", target: "_blank", class: "text-primary-500", rel: "nofollow noopener noreferrer" %>
                  &nbsp;/&nbsp;
                  <%= link_to "LinkedIn", "https://www.linkedin.com/in/jamiedubs/", target: "_blank", class: "text-primary-500" %>
                </td>
              </tr>

              <tr class="<%= cycle striped_classes_cycle %>">
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-center">
                  Adrian Marin
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                  <b>Contributing Volunteer</b> Development
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center">
                  <%= link_to "Twitter", "https://twitter.com/adrianthedev", target: "_blank", class: "text-primary-500", rel: "nofollow noopener noreferrer" %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
