<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tailwind Admin Starter Template : Tailwind Toolbox</title>
    <meta name="author" content="name">
    <meta name="description" content="description here">
    <meta name="keywords" content="keywords,here">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet"> <!--Replace with your tailwind.css once created-->
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet"> <!--Totally optional :) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>

</head>

<body class="bg-gray-900 font-sans leading-normal tracking-normal mt-12">

    <div class="flex flex-col md:flex-row">

        <div class="main-content flex-1 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5">

            <div class="bg-blue-800 p-2 shadow text-xl text-white">
                <h3 class="font-bold pl-2">Analytics</h3>
            </div>

            <div class="flex flex-wrap">
            <div class="w-full md:w-1/2 xl:w-1/3 p-3">
            <!--Metric Card-->
            <div class="bg-green-100 border-b-4 border-green-500 rounded-lg shadow-lg p-5">
                <div class="flex flex-row items-center">
                    <div class="flex-shrink pr-4">
                        <div class="rounded-full p-5 bg-green-600"><i class="fas fa-users fa-2x fa-inverse"></i></div>
                    </div>
                    <div class="flex-1 text-right md:text-center">
                        <h5 class="font-bold uppercase text-gray-600">Total Users</h5>
                        <h3 class="font-bold text-3xl"><%=@report.user_count%></h3>
                    </div>
                </div>
            </div>
            <!--/Metric Card-->
        </div>
        <div class="w-full md:w-1/2 xl:w-1/3 p-3">
                    <!--Metric Card-->
                    <div class="bg-orange-100 border-b-4 border-orange-500 rounded-lg shadow-lg p-5">
                        <div class="flex flex-row items-center">
                            <div class="flex-shrink pr-4">
                                <div class="rounded-full p-5 bg-orange-600"><i class="fas fa-thumbs-up fa-2x fa-inverse"></i></div>
                            </div>
                            <div class="flex-1 text-right md:text-center">
                                <h5 class="font-bold uppercase text-gray-600">Total Volunteered Users</h5>
                                <h3 class="font-bold text-3xl"><%=@report.volunteered_user_count%></h3>
                            </div>
                        </div>
                    </div>
                    <!--/Metric Card-->
                </div>
                <div class="w-full md:w-1/2 xl:w-1/3 p-3">
                    <!--Metric Card-->
                    <div class="bg-yellow-100 border-b-4 border-yellow-600 rounded-lg shadow-lg p-5">
                        <div class="flex flex-row items-center">
                            <div class="flex-shrink pr-4">
                                <div class="rounded-full p-5 bg-yellow-600"><i class="fas fa-user-plus fa-2x fa-inverse"></i></div>
                            </div>
                            <div class="flex-1 text-right md:text-center">
                                <h5 class="font-bold uppercase text-gray-600">New Users last 7 days</h5>
                                <h3 class="font-bold text-3xl"><%=@report.new_user_count%></h3>
                            </div>
                        </div>
                    </div>
                    <!--/Metric Card-->
                </div>
                <div class="w-full md:w-1/2 xl:w-1/3 p-3">
                    <!--Metric Card-->
                    <div class="bg-blue-100 border-b-4 border-blue-500 rounded-lg shadow-lg p-5">
                        <div class="flex flex-row items-center">
                            <div class="flex-shrink pr-4">
                                <div class="rounded-full p-5 bg-blue-600"><i class="fas fa-building fa-2x fa-inverse"></i></div>
                            </div>
                            <div class="flex-1 text-right md:text-center">
                                <h5 class="font-bold uppercase text-gray-600">Total Projects</h5>
                                <h3 class="font-bold text-3xl"><%=@report.project_count%></h3>
                            </div>
                        </div>
                    </div>
                    <!--/Metric Card-->
                </div>
                <div class="w-full md:w-1/2 xl:w-1/3 p-3">
                    <!--Metric Card-->
                    <div class="bg-indigo-100 border-b-4 border-indigo-500 rounded-lg shadow-lg p-5">
                        <div class="flex flex-row items-center">
                            <div class="flex-shrink pr-4">
                                <div class="rounded-full p-5 bg-indigo-600"><i class="fas fa-rocket fa-2x fa-inverse"></i></div>
                            </div>
                            <div class="flex-1 text-right md:text-center">
                                <h5 class="font-bold uppercase text-gray-600">Total Volunteered Projects</h5>
                                <h3 class="font-bold text-3xl"><%=@report.volunteered_project_count%></h3>
                            </div>
                        </div>
                    </div>
                    <!--/Metric Card-->
                </div>
                <div class="w-full md:w-1/2 xl:w-1/3 p-3">
                    <!--Metric Card-->
                    <div class="bg-red-100 border-b-4 border-red-500 rounded-lg shadow-lg p-5">
                        <div class="flex flex-row items-center">
                            <div class="flex-shrink pr-4">
                                <div class="rounded-full p-5 bg-red-600"><i class="fas fa-building fa-2x fa-inverse"></i></div>
                            </div>
                            <div class="flex-1 text-right md:text-center">
                                <h5 class="font-bold uppercase text-gray-600">New Projects last 7 days</h5>
                                <h3 class="font-bold text-3xl"><%=@report.new_project_count%></h3>
                            </div>
                        </div>
                    </div>
                    <!--/Metric Card-->
                </div>
            </div>


            <div class="flex flex-row flex-wrap flex-grow mt-2">

                <div class="w-full md:w-1/2 xl:w-1/3 p-3">
                    <!--Graph Card-->
                    <div class="bg-white border-transparent rounded-lg shadow-lg">
                        <div class="bg-gray-400 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg p-2">
                            <h5 class="font-bold uppercase text-gray-600">Users</h5>
                        </div>
                        <div class="p-5">
                            <canvas id="chartjs-0" class="chartjs" width="undefined" height="undefined"></canvas>
                            <script>
                                new Chart(document.getElementById("chartjs-0"), {
                                    "type": "bar",
                                    "data": {
                                        "labels": <%=@report.month_labels.to_json.html_safe%>,
                                        "datasets": [{
                                            "data": <%=@report.project_count_per_month%>,
                                            "borderColor": "rgb(255, 99, 132)",
                                            "backgroundColor": "rgba(255, 99, 132, 0.2)",
                                            "borderWidth": 1
                                        }]
                                    },
                                    "options": {
                                        "scales": {
                                            "yAxes": [{
                                                "ticks": {
                                                    "beginAtZero": true
                                                }
                                            }]
                                        },
                                        "legend": {
                                          "display": false
                                       }
                                    }
                                });
                            </script>
                        </div>
                    </div>
                    <!--/Graph Card-->
                </div>
                


                <div class="w-full md:w-1/2 xl:w-1/3 p-3">
                <!--Graph Card-->
                <div class="bg-white border-transparent rounded-lg shadow-lg">
                    <div class="bg-gray-400 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg p-2">
                        <h5 class="font-bold uppercase text-gray-600">Volunteered Users</h5>
                    </div>
                    <div class="p-5">
                        <canvas id="chartjs-1" class="chartjs" width="undefined" height="undefined"></canvas>
                        <script>
                            new Chart(document.getElementById("chartjs-1"), {
                                "type": "bar",
                                "data": {
                                    "labels": <%=@report.month_labels.to_json.html_safe%>,
                                    "datasets": [{
                                        "data": <%=@report.volunteered_user_count_per_month%>,
                                        "borderColor": "rgb(153, 102, 255)",
                                        "backgroundColor": "rgba(153, 102, 255, 0.2)",
                                        "borderWidth": 1
                                    }]
                                },
                                "options": {
                                  "legend": {
                                    "display": false
                                  }
                                }
                            });
                        </script>
                    </div>
                </div>
                <!--/Graph Card-->
            </div>


                <div class="w-full md:w-1/2 xl:w-1/3 p-3">
                    <!--Table Card-->
                    <div class="bg-white border-transparent rounded-lg shadow-lg">
                        <div class="bg-gray-400 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg p-2">
                            <h5 class="font-bold uppercase text-gray-600">User Table</h5>
                        </div>
                        <div class="p-5">
                            <table class="w-full p-5 text-gray-700 text-center">
                                <thead>
                                    <tr>
                                        <th class="text-left text-blue-900 text-center">Date</th>
                                        <th class="text-left text-blue-900 center">Users</th>
                                        <th class="text-left text-blue-900 center">Volunteered Users</th>
                                    </tr>
                                </thead>

                                <tbody>
                                  <% @report.user_table.each do |date, user_count, volunteered_user_count| %> 
                                    <tr>
                                      <td class="border px-4 py-2"><%= date %></td>
                                      <td class="border px-4 py-2"><%= user_count %></td>
                                      <td class="border px-4 py-2"><%= volunteered_user_count %></td>
                                    </tr>
                                  <% end %>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!--/table Card-->
                </div>

                <div class="w-full md:w-1/2 xl:w-1/3 p-3">
                    <!--Graph Card-->
                    <div class="bg-white border-transparent rounded-lg shadow-lg">
                        <div class="bg-gray-400 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg p-2">
                            <h5 class="font-bold uppercase text-gray-600">Projects</h5>
                        </div>
                        <div class="p-5">
                            <canvas id="chartjs-2" class="chartjs" width="undefined" height="undefined"></canvas>
                            <script>
                                new Chart(document.getElementById("chartjs-2"), {
                                    "type": "bar",
                                    "data": {
                                        "labels": <%=@report.month_labels.to_json.html_safe%>,
                                        "datasets": [{
                                            "data": <%=@report.project_count_per_month%>,
                                            "borderColor": "rgb(75, 192, 192)",
                                            "backgroundColor": "rgba(75, 192, 192, 0.2)",
                                            "borderWidth": 1
                                        }]
                                    },
                                    "options": {                           
                                      "legend": {
                                        "display": false
                                      }
                                    }
                                });
                            </script>
                        </div>
                    </div>
                    <!--/Graph Card-->
                </div>

                <div class="w-full md:w-1/2 xl:w-1/3 p-3">
                    <!--Graph Card-->
                    <div class="bg-white border-transparent rounded-lg shadow-lg">
                        <div class="bg-gray-400 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg p-2">
                            <h5 class="font-bold uppercase text-gray-600">Volunteered Projects</h5>
                        </div>
                        <div class="p-5">
                            <canvas id="chartjs-3" class="chartjs" width="undefined" height="undefined"></canvas>
                            <script>
                                new Chart(document.getElementById("chartjs-3"), {
                                    "type": "bar",
                                    "data": {
                                        "labels": <%=@report.month_labels.to_json.html_safe%>,
                                        "datasets": [{
                                            "data": <%=@report.volunteered_project_count_per_month%>,
                                            "borderColor": "rgb(255, 159, 64)",
                                            "backgroundColor": "rgba(255, 159, 64, 0.2)",
                                            "borderWidth": 1
                                        }]
                                    },
                                    "options": {                           
                                      "legend": {
                                        "display": false
                                      }
                                    }
                                });
                            </script>
                        </div>
                    </div>
                    <!--/Graph Card-->
                </div>

                <div class="w-full md:w-1/2 xl:w-1/3 p-3">
                    <!--Table Card-->
                    <div class="bg-white border-transparent rounded-lg shadow-lg">
                        <div class="bg-gray-400 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg p-2">
                            <h5 class="font-bold uppercase text-gray-600">Project Table</h5>
                        </div>
                        <div class="p-5">
                            <table class="w-full p-5 text-gray-700 text-center">
                                <thead>
                                    <tr>
                                        <th class="text-left text-blue-900 text-center">Date</th>
                                        <th class="text-left text-blue-900 center">Projects</th>
                                        <th class="text-left text-blue-900 center">Volunteered Projects</th>
                                    </tr>
                                </thead>

                                <tbody>
                                  <% @report.project_table.each do |date, project_count, volunteered_project_count| %> 
                                    <tr>
                                      <td class="border px-4 py-2"><%= date %></td>
                                      <td class="border px-4 py-2"><%= project_count %></td>
                                      <td class="border px-4 py-2"><%= volunteered_project_count %></td>
                                    </tr>
                                  <% end %>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!--/table Card-->
                </div>


            </div>
        </div>
    </div>


</body>

</html>