<footer class="flex-1 bg-gray-100 mt-16">
  <div class="container px-5 py-7">
    <div class="flex flex-grow flex-col sm:flex-row justify-between text-sm text-gray-800">
      <div class="">
        <%= link_to "About HWC", about_path, class: 'font-bold mr-6' %>
        <%= link_to "GitHub", "https://github.com/helpwithcovid/covid-volunteers", class: 'font-bold mr-6', target: :_blank %>
        <%= link_to "Media kit", "offers#media_kit", class: 'font-bold mr-6 sm:visible invisible' %>
      </div>
      <div class="flex flex-col sm:flex-row">
        <span class="flex sm:px-3 py-1 sm:mr-6">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="22" height="22" viewBox="0 0 160.000000 164.000000" preserveAspectRatio="xMidYMid meet" class="mr-1">
            <g transform="translate(0.000000,164.000000) scale(0.100000,-0.100000)" fill="#4A5568" stroke="none">
              <path d="M214 1346 c-17 -8 -41 -27 -52 -44 -21 -29 -22 -37 -22 -482 -1 -505 -2 -493 70 -531 33 -18 67 -19 588 -19 610 0 604 -1 642 62 19 32 20 49 20 489 0 453 0 457 -22 484 -43 55 -40 55 -640 55 -442 -1 -559 -3 -584 -14z m1049 -123 c9 -6 -11 -20 -266 -193 l-197 -134 -213 144 c-260 176 -256 173 -257 182 0 8 920 9 933 1z m-734 -303 c137 -93 255 -172 263 -175 8 -3 128 72 271 170 142 97 262 173 266 170 5 -3 10 -156 10 -340 l2 -335 -541 0 -540 0 0 334 c1 298 3 346 17 346 2 0 116 -76 252 -170z"/>
            </g>
          </svg>
          <span class="text-gray-800 text-s">Contact <%= mail_to ENV['EMAIL_ADDRESS'], nil, target: :_blank, class: 'font-bold mr-6' %></span>
        </span>
        <span class="flex sm:px-3 py-1 sm:mr-6">
          <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 160.000000 164.000000" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,164.000000) scale(0.100000,-0.100000)" fill="#4A5568" stroke="none">
              <path d="M295 1433 c-32 -9 -65 -34 -81 -64 -12 -23 -14 -109 -14 -514 l0 -485 34 -38 34 -37 392 -3 392 -3 -6 28 c-4 15 -9 36 -13 47 -8 28 7 16 134 -103 62 -58 119 -109 128 -113 13 -8 15 55 15 593 0 586 -1 602 -20 634 -39 64 -50 65 -538 64 -240 -1 -446 -4 -457 -6z m682 -341 c45 -21 55 -32 77 -81 33 -74 66 -212 66 -277 0 -42 -4 -54 -27 -76 -33 -31 -77 -53 -119 -61 -24 -5 -36 -1 -52 16 l-21 22 45 24 c25 14 50 33 56 44 5 11 6 17 1 15 -64 -31 -114 -50 -152 -59 -81 -19 -195 1 -324 56 -34 14 -7 -21 38 -50 39 -24 43 -30 34 -47 -9 -18 -18 -20 -57 -14 -52 7 -127 47 -142 76 -21 40 23 257 71 351 13 26 34 44 71 63 28 14 59 26 67 26 9 -1 -10 -14 -41 -30 -55 -29 -94 -62 -52 -46 110 45 132 49 239 49 96 1 119 -3 178 -26 37 -14 67 -22 67 -17 0 5 -33 25 -72 45 -56 27 -65 33 -38 29 19 -4 58 -18 87 -32z"/>
              <path d="M586 868 c-9 -12 -16 -35 -16 -51 0 -33 40 -77 70 -77 31 0 70 44 70 80 0 63 -89 98 -124 48z"/>
              <path d="M834 882 c-16 -11 -34 -48 -34 -72 0 -27 43 -70 70 -70 12 0 32 11 45 25 47 46 23 125 -38 125 -18 0 -37 -4 -43 -8z"/>
            </g>
          </svg>
          <span class="text-gray-800 text-sm">Join the <%= link_to 'Discord group', 'https://discord.gg/8nAJfFN', target: :_blank, class: 'font-bold' %></span>
        </span>
        <span class="flex pt-1">
          <a href="https://www.facebook.com/HelpwithCOVID" target="_blank" class="mr-2">
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 160.000000 160.000000" preserveAspectRatio="xMidYMid meet">
              <g transform="translate(0.000000,160.000000) scale(0.100000,-0.100000)" fill="#4A5568" stroke="none">
                <path d="M650 1454 c-36 -7 -101 -31 -145 -53 -367 -182 -489 -647 -257 -983 92 -133 270 -252 412 -274 l40 -7 0 237 0 236 -85 0 -85 0 0 95 0 95 84 0 84 0 4 118 c4 94 9 125 26 159 26 50 80 96 131 112 42 12 150 15 200 5 l31 -6 0 -79 0 -79 -66 0 c-59 0 -68 -3 -95 -29 -28 -28 -29 -34 -29 -115 l0 -86 90 0 c65 0 90 -3 90 -12 0 -7 -5 -50 -12 -95 l-11 -83 -79 0 -78 0 0 -235 c0 -267 -8 -248 91 -219 280 82 479 349 479 644 0 257 -144 487 -375 601 -134 66 -296 86 -445 53z"/>
              </g>
            </svg>
          </a>
          <a href="https://twitter.com/helpwithcovid" target="_blank">
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 160.000000 160.000000" preserveAspectRatio="xMidYMid meet">
              <g transform="translate(0.000000,160.000000) scale(0.100000,-0.100000)" fill="#4A5568" stroke="none">
                <path d="M988 1327 c-125 -35 -207 -146 -208 -279 0 -56 -1 -58 -27 -58 -51 0 -160 28 -236 60 -89 37 -192 107 -262 179 -27 28 -52 51 -56 51 -4 0 -15 -20 -24 -45 -13 -33 -16 -64 -13 -117 5 -80 24 -126 71 -175 35 -38 22 -44 -40 -18 -20 8 -38 14 -40 12 -2 -2 1 -28 7 -57 17 -92 72 -166 155 -208 l40 -21 -47 -1 c-51 0 -54 -4 -38 -44 24 -63 144 -156 202 -156 33 0 27 -19 -15 -43 -72 -42 -166 -69 -267 -76 l-95 -6 70 -37 c131 -68 199 -83 380 -83 183 0 248 15 386 86 247 128 428 428 429 707 0 40 5 49 59 102 33 32 65 68 71 81 11 19 10 21 -6 16 -11 -3 -43 -12 -73 -21 l-54 -15 35 37 c35 36 68 91 68 111 0 6 -21 0 -47 -13 -27 -13 -67 -30 -91 -37 -39 -11 -44 -11 -65 9 -59 56 -183 83 -269 59z"/>
              </g>
            </svg>
          </a>
        </span>
      </div>
    </div>
  </div>
</footer>
