<nav x-data="{ open: false }" class="bg-white shadow-sm">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex">
        <div class="flex-shrink-0 flex items-center">
          <img class="block lg:hidden h-8 w-auto" src="/img/logos/workflow-mark-on-white.svg" alt="" />
          <img class="hidden lg:block h-8 w-auto" src="/img/logos/workflow-logo-on-white.svg" alt="" />
        </div>
        <div class="hidden sm:ml-6 sm:flex">
          <%= link_to projects_path, class: "#{all_projects_nav_link_class}" do %>
            All Projects
          <% end %>

          <% if current_user %>
            <%= link_to liked_projects_path, class: "ml-8 #{liked_projects_nav_link_class}" do %>
              Liked Projects
            <% end %>
            <%= link_to own_projects_path, class: "ml-8 #{own_projects_nav_link_class}" do %>
              Your Projects
            <% end %>
            <%= link_to edit_user_registration_path, class: "ml-8 #{profile_nav_link_class}" do %>
              Profile
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete, class: "ml-8 #{logout_nav_link_class}" do %>
              Log out
            <% end %>
          <% else %>
            <%= link_to new_user_registration_path, class: "ml-8 #{sign_up_nav_link_class}" do %>
              Sign up
            <% end %>
            <%= link_to new_user_session_path, class: "ml-8 #{login_nav_link_class}" do %>
              Log in
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>