<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= content_for(:share_title).present? ? content_for(:share_title)+' | ' : '' %> Help With COVID 19 - a clearing house for projects and volunteers that want to help with the COVID-19 crisis.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'layouts/head_content' %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.0.1/dist/alpine.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

      <%# Always load GA, for consistency, but use different accounts for development vs. production %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= google_analytics_id %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%= google_analytics_id %>');

        <% if (event_name = pop_event_to_track).present? %>
          // console.log("Logging event...", "<%= event_name %>");
          gtag('event', "<%= event_name %>", {
            'event_category': "Actions"
            // 'event_label': '',
            // 'value': ''
          });
        <% end %>
      </script>
  </head>

  <body class="flex flex-col min-h-screen h-full antialiased <%= 'bg-gray-100' if request.original_fullpath != root_path %>">
    <div class="flex-1">
      <div class="pb-10">
        <%= render partial: 'layouts/nav' %>
      </div>

      <%= render partial: "partials/global-announcements" if @show_global_announcements %>

      <main class="flex-grow">
        <% if flash.present? %>
          <div class="container">
            <% flash.each do |type, msg| %>
              <div class="mb-8 <%= alert_container_class_for_flash_type type %>" role="alert">
                <span class="block sm:inline"><%= msg %></span>
              </div>
            <% end %>
          </div>
        <% end %>

        <%= yield %>
      </main>
    </div>

    <%= render partial: 'layouts/footer' %>
    <%= render partial: 'partials/modal' %>
  </body>
</html>
