<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= content_for(:share_title).present? ? content_for(:share_title)+' | ' : '' %> Help With COVID 19 - a clearing house for projects and volunteers that want to help with the COVID-19 crisis.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'layouts/head_content' %>

    <%= stylesheet_pack_tag 'stylesheets', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.0.1/dist/alpine.js" defer></script>

    <% if Rails.env == 'production' %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162054776-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-162054776-1');
      </script>
    <% end %>
  </head>

  <body class="flex flex-col min-h-screen h-full bg-gray-100">
    <div class="flex-1 bg-gray-100">
      <%= render partial: 'layouts/nav' %>

      <div class="py-10">
        <main class="flex-grow">
          <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <% flash.each do |type, msg| %>
              <div class="mb-8 <%= alert_container_class_for_flash_type type %>" role="alert">
                <span class="block sm:inline"><%= msg %></span>
              </div>
            <% end %>

            <%= yield %>
          </div>
        </main>
      </div>
    </div>

    <footer class="w-full border-t border-gray-200 px-5 py-5">
      <div class="text-center text-gray-500 text-sm">
        <%= link_to "About HWC", about_path, class: 'text-indigo-500' %> - Email us at <%= mail_to ENV['EMAIL_ADDRESS'], nil, target: '_blank', class: 'text-indigo-500' %> or join the <%= link_to 'Discord', 'https://discord.gg/875AhXS', target: '_blank', class: 'text-indigo-500' %> group
      </div>
    </footer>
  </body>
</html>
